* {
  padding: 0;
  margin: 0;
  outline: none; }

html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }

.loader_inner {
  background: url("../img/preloader.gif");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute; }

/*Header styles*/
.header {
  height: 100px;
  position: relative;
  z-index: 15;
  background: #fff;
  border-bottom: 1px solid #222; }

.wrapper {
  width: 1084px;
  margin: 0 auto;
  position: relative; }

.logo {
  background: url("../img/logo-wa.png") top left no-repeat;
  width: 185px;
  height: 46px;
  margin-top: 29px;
  float: left; }

/*=== Movie styles ====*/
.screen {
  height: 560px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: url("../img/1x/background.jpg") repeat-x;
  z-index: -1;
  -webkit-animation: screen 30s linear 4s 1;
          animation: screen 30s linear 4s 1; }

.center {
  background: #222;
  width: 1px;
  height: 560px;
  position: absolute;
  left: 741px; }

.game-wrap {
  width: 1084px;
  height: 560px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid #222;
  border-right: 1px solid #222; }

.sun {
  background: url("../img/1x/sun.png");
  width: 589px;
  height: 589px;
  position: absolute;
  top: -294px;
  z-index: -1; }

.ball {
  background: url("../img/1x/ball.png") no-repeat;
  height: 46px;
  width: 46px;
  position: absolute;
  top: -73px;
  left: 0px;
  z-index: 20;
  -webkit-animation: bounce 10s 2s linear 1;
          animation: bounce 10s 2s linear 1; }

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  10% {
    -webkit-transform: translate(0px, 533px);
            transform: translate(0px, 533px); }
  15% {
    -webkit-transform: translate(160px, 306px);
            transform: translate(160px, 306px); }
  25% {
    -webkit-transform: translate(345px, 458px);
            transform: translate(345px, 458px); }
  30% {
    -webkit-transform: translate(560px, 306px);
            transform: translate(560px, 306px); }
  35% {
    -webkit-transform: translate(720px, 534px);
            transform: translate(720px, 534px); }
  40% {
    -webkit-transform: translate(900px, 412px);
            transform: translate(900px, 412px); }
  45% { }
  100% { } }

@keyframes bounce {
  0% {
    -webkit-transform: translate(0px, 0px);
            transform: translate(0px, 0px); }
  10% {
    -webkit-transform: translate(0px, 533px);
            transform: translate(0px, 533px); }
  15% {
    -webkit-transform: translate(160px, 306px);
            transform: translate(160px, 306px); }
  25% {
    -webkit-transform: translate(345px, 458px);
            transform: translate(345px, 458px); }
  30% {
    -webkit-transform: translate(560px, 306px);
            transform: translate(560px, 306px); }
  35% {
    -webkit-transform: translate(720px, 534px);
            transform: translate(720px, 534px); }
  40% {
    -webkit-transform: translate(900px, 412px);
            transform: translate(900px, 412px); }
  45% { }
  100% { } }

.ground {
  width: 100%;
  height: 71px;
  position: absolute;
  background: url("../img/1x/ground.jpg");
  bottom: 0;
  z-index: 2;
  background-position: -1210px; }

.bush {
  background: url("../img/1x/bush.png");
  height: 68px;
  width: 205px;
  position: absolute;
  bottom: 53px;
  left: -205px;
  z-index: 10; }

.tube {
  background: url("../img/1x/tube_top.png");
  width: 100px;
  height: 76px;
  position: absolute;
  bottom: 53px;
  left: 323px;
  z-index: 10; }

.bubble_java {
  background: url("../img/1x/bubble_java.png");
  width: 74px;
  height: 74px;
  position: absolute;
  bottom: 53px;
  left: 336px;
  -webkit-animation: javaBubble 3s ease infinite;
          animation: javaBubble 3s ease infinite; }

@-webkit-keyframes javaBubble {
  0%, 1% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  5% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-76px);
            transform: translateY(-76px); }
  60% {
    -webkit-transform: translateY(-76px);
            transform: translateY(-76px); }
  70% {
    -webkit-transform: translateY(-76px);
            transform: translateY(-76px); }
  80% {
    -webkit-transform: translateY(-76px);
            transform: translateY(-76px); }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

@keyframes javaBubble {
  0%, 1% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  5% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  20% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  30% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  40% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  50% {
    -webkit-transform: translateY(-76px);
            transform: translateY(-76px); }
  60% {
    -webkit-transform: translateY(-76px);
            transform: translateY(-76px); }
  70% {
    -webkit-transform: translateY(-76px);
            transform: translateY(-76px); }
  80% {
    -webkit-transform: translateY(-76px);
            transform: translateY(-76px); }
  90% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); } }

.bonus {
  background: url("../img/1x/bonus.jpg");
  width: 46px;
  height: 46px;
  position: absolute;
  left: 907px;
  bottom: 220px;
  -webkit-animation: bonus 3s ease 1;
          animation: bonus 3s ease 1;
  -webkit-animation: bonusLeft 3s linear 1;
          animation: bonusLeft 3s linear 1; }

@-webkit-keyframes bonus {
  0%, 1% {
    background: url("../img/1x/bonus.jpg"); }
  5% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  20% {
    background: url("../img/1x/bonus_empty.jpg"); }
  30% {
    background: url("../img/1x/bonus_empty.jpg"); }
  40% {
    background: url("../img/1x/bonus_empty.jpg"); }
  50% {
    background: url("../img/1x/bonus_empty.jpg"); }
  60% {
    background: url("../img/1x/bonus_empty.jpg"); }
  70% {
    background: url("../img/1x/bonus_empty.jpg"); }
  80% {
    background: url("../img/1x/bonus_empty.jpg"); }
  90% {
    background: url("../img/1x/bonus_empty.jpg"); }
  100% {
    background: url("../img/1x/bonus_empty.jpg"); } }

@keyframes bonus {
  0%, 1% {
    background: url("../img/1x/bonus.jpg"); }
  5% {
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px); }
  10% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px); }
  20% {
    background: url("../img/1x/bonus_empty.jpg"); }
  30% {
    background: url("../img/1x/bonus_empty.jpg"); }
  40% {
    background: url("../img/1x/bonus_empty.jpg"); }
  50% {
    background: url("../img/1x/bonus_empty.jpg"); }
  60% {
    background: url("../img/1x/bonus_empty.jpg"); }
  70% {
    background: url("../img/1x/bonus_empty.jpg"); }
  80% {
    background: url("../img/1x/bonus_empty.jpg"); }
  90% {
    background: url("../img/1x/bonus_empty.jpg"); }
  100% {
    background: url("../img/1x/bonus_empty.jpg"); } }

@-webkit-keyframes bonusLeft {
  0%, 1% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  5% {
    -webkit-transform: translateX();
            transform: translateX(); } }

@keyframes bonusLeft {
  0%, 1% {
    -webkit-transform: translateX(0);
            transform: translateX(0); }
  5% {
    -webkit-transform: translateX();
            transform: translateX(); } }

.brick {
  background: url("../img/1x/pat_brick.jpg") repeat-x;
  height: 46px;
  width: 372px;
  position: absolute;
  left: 953px;
  bottom: 220px; }

.bush_2 {
  background: url("../img/1x/bush.png");
  height: 68px;
  width: 205px;
  position: absolute;
  bottom: 54px;
  left: 1111px;
  z-index: 10; }
