/*== 2008 ==*/

@keyframes bounce08 {
    0% {
        bottom: 50px;
        opacity: 0;
    }
    2% {
        bottom: 50px;
        opacity: 0.5;
    }
    4% {
        bottom: 50px;
        opacity: 1;
    }
    6% {
        bottom: 50+60px;
        animation-timing-function: ease-in;
    }
    8% {
        bottom: 50+60-60px;
        animation-timing-function: ease-out;
    }
    10% {
        bottom: 50+60-60+60px;
        animation-timing-function: ease-in;
    }
    12% {
        bottom: 50+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    14% {
        bottom: 50+60-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    16% {
        bottom: 50+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    18% {
        bottom: 50+60-60+60-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    20% {
        bottom: 50+60-60+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    } //share
    22% {
        bottom: 110px;
        animation-timing-function: ease-in;
    } //move on
    24% {
        bottom: 110-60px;
        animation-timing-function: ease-out;
    }
    26% {
        bottom: 110-60+60px;
        animation-timing-function: ease-in;
    } //fei
    28% {
        bottom: 110-60+60-60px;
        animation-timing-function: ease-out;
    }
    30% {
        bottom: 110-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    32% {
        bottom: 110-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    34% {
        bottom: 110-60+60-60+60-60+180px;
        animation-timing-function: ease-in;
    }
    36% {
        bottom: 110-60+60-60+60-60+180-30px;
        animation-timing-function: ease-out;
    }
    38% {
        bottom: 110-60+60-60+60-60+180-30+60px;
        animation-timing-function: ease-in;
    }
    40% {
        bottom: 110-60+60-60+60-60+180-30+60-60px;
        animation-timing-function: ease-out;
    } //crm
    42% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60px;
        animation-timing-function: ease-in;
    }
    44% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    46% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60px;
        animation-timing-function: ease-in;
    } //nv
    48% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    50% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    52% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    } //net
    54% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180px;
        animation-timing-function: ease-in;
    }
    56% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30px;
        animation-timing-function: ease-out;
    }
    58% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60px;
        animation-timing-function: ease-in;
    }
    60% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60px;
        animation-timing-function: ease-out;
    }
    62% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60px;
        animation-timing-function: ease-in;
    }
    64% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    66% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60px;
        animation-timing-function: ease-in;
    } //imag
    68% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    70% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    72% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    } //prize
    74% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    76% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210px;
        animation-timing-function: ease-out;
    } //qt
    78% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60px;
        animation-timing-function: ease-in;
    }
    80% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60px;
        animation-timing-function: ease-out;
    }
    82% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60px;
        animation-timing-function: ease-in;
    }
    84% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210px;
        animation-timing-function: ease-out;
    }
    86% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210+60px;
        animation-timing-function: ease-in;
    }
    88% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210+60-60px;
        animation-timing-function: ease-out;
    } //ccc
    90% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210+60-60+60px;
        animation-timing-function: ease-in;
    }
    92% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    94% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210+60-60+60-60+60px;
        animation-timing-function: ease-in;
    } //conti
    96% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    98% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210+60-60+60-60+60-60+60px;
        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        bottom: 110-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+180-30+60-60+60-60+60-60+60-60+60-210+60-60+60-210+60-60+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 0;
    }
}

@keyframes travel08 {
    0% {
        left: 0px;
    }
    2% {
        left: 0px;
    }
    4% {
        left: 0px;
    }
    6% {
        left: 0+60px;
    }
    8% {
        left: 0+60+60px;
    }
    10% {
        left: 0+60+60+60px;
    }
    12% {
        left: 0+60+60+60+60px;
    }
    14% {
        left: 0+60+60+60+60+60px;
    }
    16% {
        left: 0+60+60+60+60+60+60px;
    }
    18% {
        left: 0+60+60+60+60+60+60+60px;
    }
    20% {
        left: 0+60+60+60+60+60+60+60+30px;
    }
    22% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    24% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    26% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    28% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    30% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    32% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    34% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    36% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    38% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    40% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    42% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    44% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    46% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    48% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    50% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    52% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    54% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    56% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    58% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    60% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    62% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    64% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    66% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    68% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    70% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    72% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    74% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    76% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    78% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    80% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    82% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    84% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    86% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    88% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    90% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    92% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    94% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    96% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    98% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
    100% {
        left: 0+60+60+60+60+60+60+60+30+60px;
    }
}

@keyframes groundMove08 {
    0% {
        background-position: -817px 0px;
    }
    2% {
        background-position: -817px 0px;
    }
    4% {
        background-position: -817px 0px;
    }
    6% {
        background-position: -817px 0px;
    }
    8% {
        background-position: -817px 0px;
    }
    10% {
        background-position: -817px 0px;
    }
    12% {
        background-position: -817px 0px;
    }
    14% {
        background-position: -817px 0px;
    }
    16% {
        background-position: -817px 0px;
    }
    18% {
        background-position: -817px 0px;
    }
    20% {
        background-position: -817px 0px;
    }
    22% {
        background-position: -817px 0px;
    }
    24% {
        background-position: -817-60px 0px;
    } //paste
    26% {
        background-position: -817-60-90px 0px;
    }
    28% {
        background-position: -817-60-90-60px 0px;
    }
    30% {
        background-position: -817-60-90-60-60px 0px;
    }
    32% {
        background-position: -817-60-90-60-60-60px 0px;
    }
    34% {
        background-position: -817-60-90-60-60-60-20px 0px;
    }
    36% {
        background-position: -817-60-90-60-60-60-20-40px 0px;
    }
    38% {
        background-position: -817-60-90-60-60-60-20-40-60px 0px;
    }
    40% {
        background-position: -817-60-90-60-60-60-20-40-60-60px 0px;
    }
    42% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40px 0px;
    }
    44% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40px 0px;
    }
    46% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60px 0px;
    }
    48% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60px 0px;
    }
    50% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60px 0px;
    }
    52% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90px 0px;
    }
    54% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30px 0px;
    }
    56% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30px 0px;
    }
    58% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60px 0px;
    }
    60% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60px 0px;
    }
    62% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60px 0px;
    }
    64% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60px 0px;
    }
    66% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60px 0px;
    }
    68% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60px 0px;
    }
    70% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60px 0px;
    }
    72% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60px 0px;
    }
    74% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60px 0px;
    }
    76% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60px 0px;
    }
    78% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60px 0px;
    }
    80% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60px 0px;
    }
    82% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60px 0px;
    }
    84% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60px 0px;
    }
    86% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60px 0px;
    }
    88% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60px 0px;
    }
    90% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90px 0px;
    }
    92% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60px 0px;
    }
    94% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60-60px 0px;
    }
    96% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60-60-90px 0px;
    }
    98% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60-60-90-90px 0px;
    }
    100% {
        background-position: -817-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60-60-90-90-90px 0px;
    }
}

@keyframes screenMove08 {
    0% {
        transform: translateX(0px);
    }
    2% {
        transform: translateX(0px);
    }
    4% {
        transform: translateX(0px);
    }
    6% {
        transform: translateX(0px);
    }
    8% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(0px);
    }
    12% {
        transform: translateX(0px);
    }
    14% {
        transform: translateX(0px);
    }
    16% {
        transform: translateX(0px);
    }
    18% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(0px);
    }
    22% {
        transform: translateX(0px);
    }
    24% {
        transform: translateX(0-60px);
    } //paste
    26% {
        transform: translateX(0-60-90px);
    }
    28% {
        transform: translateX(0-60-90-60px);
    }
    30% {
        transform: translateX(0-60-90-60-60px);
    }
    32% {
        transform: translateX(0-60-90-60-60-60px);
    }
    34% {
        transform: translateX(0-60-90-60-60-60-20px);
    }
    36% {
        transform: translateX(0-60-90-60-60-60-20-40px);
    }
    38% {
        transform: translateX(0-60-90-60-60-60-20-40-60px);
    }
    40% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60px);
    }
    42% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40px);
    }
    44% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40px);
    }
    46% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60px);
    }
    48% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60px);
    }
    50% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60px);
    }
    52% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90px);
    }
    54% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30px);
    }
    56% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30px);
    }
    58% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60px);
    }
    60% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60px);
    }
    62% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60px);
    }
    64% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60px);
    }
    66% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60px);
    }
    68% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60px);
    }
    70% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60px);
    }
    72% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60px);
    }
    74% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60px);
    }
    76% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60px);
    }
    78% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60px);
    }
    80% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60px);
    }
    82% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60px);
    }
    84% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60px);
    }
    86% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60px);
    }
    88% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60px);
    }
    90% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90px);
    }
    92% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60px);
    }
    94% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60-60px);
    }
    96% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60-60-90px);
    }
    98% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60-60-90-90px);
    }
    100% {
        transform: translateX(0-60-90-60-60-60-20-40-60-60-40-40-60-60+60+90-30-30-60-60-60-60-60-60-60-60-60-60+60+60+60+60+60+60-90-60-60-90-90-90px);
    }
}

.c__ball--08 {
    opacity: 0;
    bottom: 50px;
    animation-name: bounce08;
    animation-delay: $delay;
    animation-duration: $dur08;
    animation-fill-mode: forwards;
}

.c__traveler--08 {
    animation-name: travel08;
    animation-duration: $dur08;
    animation-delay: $delay;
}

.c__ground__08 {
    background: url('../img/ground-04.png');
    background-attachment: fixed;
    animation: groundMove08 $dur08 linear forwards;
    animation-delay: $delay;
}

.c__move-wrap--08 {
    left: 147px;
    bottom: 50px;
    animation: screenMove08 $dur08 linear forwards;
    animation-delay: $delay;
}

.c__year__2008 {
    width: 591px;
    background-position: -2px -593px;
    top: 210px;
    left: 264px;
    z-index: -1;
}

.c__bush__1--08 {
    left: 0;
    bottom: 0;
}

.c__bush__2--08 {
    left: 559px;
    bottom: 0;
}

.c__bush__3--08 {
    left: 1206px;
    bottom: 0;
}

.c__bush__4--08 {
    left: 1206+372px;
    bottom: 0;
}

.c__teleport__1--08 {
    opacity: 1;
    bottom: 50px;
    left: -45px;
    animation-delay: $delay+$dur08*1/100;
}

.c__bubble__share {
    background-position: -1437px -929px;
    left: 319px;
    bottom: 0px;
    z-index: 5;
    animation-delay: $delay+$dur08*20/100;
}

.c__bonus__fei {
    left: 529px;
    bottom: 103px;
    animation-delay: $delay+$dur08*26/100;
}

.c__logo__fei {
    width: 75px;
    height: 33px;
    background-position: -507px -913px;
    left: 516px;
    bottom: 103+50px;
    animation-delay: $delay+$dur08*26/100;
}

.c__bubble__crm {
    background-position: -399px -948px;
    left: 862px;
    bottom: 144+5px;
    animation-delay: $delay+$dur08*40/100;
}

.c__brick-steel__1--08 {
    width: 46px;
    left: 766px;
    bottom: 103px;
}

.c__brick__1--08 {
    width: 352px;
    left: 766+46px;
    bottom: 103px;
}

.c__brick-steel__2--08 {
    width: 46px;
    left: 766+46+352px;
    bottom: 103px;
}

.c__bonus__conti {
    left: 766+46+352+253px;
    bottom: 103px;
    animation-delay: $delay+$dur08*94/100;
}

.c__logo__conti {
    width: 154px;
    height: 25px;
    background-position: -1199px -878px;
    left: 766+46+352+200px;
    bottom: 103+50px;
    animation-delay: $delay+$dur08*94/100;
}

.c__brick__2--08 {
    width: 141px;
    bottom: 103px;
    left: 46+766+46+352+253px;
}

.c__brick-steel__3--08 {
    width: 46px;
    bottom: 103px;
    left: 46+141+766+46+352+253px;
}

.c__bubble__qt {
    background-position: -1711px -844px;
    left: 766+46+352+253+168px;
    bottom: 103+46px;
    animation-delay: $delay+$dur08*76/100;
}

.c__bonus__nv {
    bottom: 252px;
    left: 1013px;
    animation-delay: $delay+$dur08*46/100;
}

.c__logo__nv {
    width: 59px;
    height: 38px;
    background-position: -1769px -156px;
    left: 1005px;
    bottom: 252+50px;
    animation-delay: $delay+$dur08*46/100;
}

.c__brick__3--08 {
    width: 174px;
    left: 46+1013px;
    bottom: 252px;
}

.c__top-ground--08 {
    width: 285px;
    left: 46+174+1013px;
    bottom: 252px;
    height: 46+30px;
}

.c__bubble__prize {
    background-position: -1765px -768px;
    left: 46+174+1013+207px;
    bottom: 252+50px;
    z-index: 15;
    animation-delay: $delay+$dur08*72/100;
}

.c__bubble__ccc {
    background-position: -507px -837px;
    left: 1253px;
    bottom: 0;
    z-index: 10;
    animation-delay: $delay+$dur08*88/100;
}

.c__teleport__2--08 {
    left: 1253+671-180-90px;
    bottom: 0px;
    opacity: 1;
    animation-delay: $delay+$dur08*98/100;
}
