/*=== 2013 ===*/


@keyframes bounce-13{
0%  { transform: translate(0px, 460px);opacity: 0;  }
2%  { transform: translate(0px, 460px);opacity: 1;  }
4%  { transform: translate(0+90px, 460-90px); }
6%  { transform: translate(0+90+90px, 460-90+90px); }
8%  { transform: translate(0+90+90+60px, 460-90+90-90px); }
10% { transform: translate(0+90+90+60+60px, 460-90+90-90+90px); }
12% { transform: translate(0+90+90+60+60+90px, 460-90+90-90+90-120px); }
14% { transform: translate(0+90+90+60+60+90+90px, 460-90+90-90+90-120+40px); }//same
16% { transform: translate(520px, 260px); }//move on
18% { transform: translate(520px, 260+50px); }
20% { transform: translate(520px, 260+50-60px); }
22% { transform: translate(520px, 260+50-60+60px); }
24% { transform: translate(520px, 260+50-60+60-60px); }//
26% { transform: translate(520px, 260+50-60+60-60+60px); }//
28% { transform: translate(520px, 260+50-60+60-60+60-90px); }//
30% { transform: translate(520px, 260+50-60+60-60+60-90+15px); }//
32% { transform: translate(520px, 260+50-60+60-60+60-90+15-120px); }//
34% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98px); }//
36% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98px); }//
38% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98px); }
40% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25px); }//telecom
42% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28px); }
44% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90px); }
46% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180px); }
48% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60px); }
50% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60px); }
52% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180px); }
54% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90px); }
56% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60px); }//pochta
58% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50px); }
60% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60px); }
62% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318px); }
64% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60px); }
66% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60px); }
68% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60px); }
70% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px); }
72% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0.8 ; }//teleport__2
74% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0.6 ; }
76% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0.4 ; }
78% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0.3 ; }
80% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0.2 ; }
82% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
84% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
86% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
88% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
90% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
92% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
94% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
96% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
98% { transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
100%{ transform: translate(520px, 260+50-60+60-60+60-90+15-120+98-98+98-25+28-90+180-60+60-180+90-60+50-60+318-60+60-60+60px);opacity:0 ; }
}

@keyframes groundMove13{
0%  { background-position: -810px }
2%  { background-position: -810px }
4%  { background-position: -810px }
6%  { background-position: -810px }
8%  { background-position: -810px }
10% { background-position: -810px }
12% { background-position: -810px }
14% { background-position: -810px }
16% { background-position: -810px }
18% { background-position: -810-60px }
20% { background-position: -810-60-60px }
22% { background-position: -810-60-60-60px }
24% { background-position: -810-60-60-60-60px }
26% { background-position: -810-60-60-60-60-60px }
28% { background-position: -810-60-60-60-60-60-60px }
30% { background-position: -810-60-60-60-60-60-60-60px }
32% { background-position: -810-60-60-60-60-60-60-60-60px }
34% { background-position: -810-60-60-60-60-60-60-60-60-60px }
36% { background-position: -810-60-60-60-60-60-60-60-60-60-90px }
38% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90px }
40% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30px }
42% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40px }
44% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90px }
46% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90px }
48% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60px }
50% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60px }
52% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120px }
54% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60px }
56% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60px }
58% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60px }
60% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60px }
62% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30px }
64% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60px }
66% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60px }
68% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60px }
70% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
72% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
74% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
76% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
78% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
80% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
82% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
84% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
86% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
88% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
90% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
92% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
94% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
96% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
98% { background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
100%{ background-position: -810-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px }
}
@keyframes screenMove13{
0%  { transform: translateX(0px); }
2%  { transform: translateX(0px); }
4%  { transform: translateX(0px); }
6%  { transform: translateX(0px); }
8%  { transform: translateX(0px); }
10% { transform: translateX(0px); }
12% { transform: translateX(0px); }
14% { transform: translateX(0px); }
16% { transform: translateX(0px); }
18% { transform: translateX(0-60px); }
20% { transform: translateX(0-60-60px); }
22% { transform: translateX(0-60-60-60px); }
24% { transform: translateX(0-60-60-60-60px); }
26% { transform: translateX(0-60-60-60-60-60px); }
28% { transform: translateX(0-60-60-60-60-60-60px); }
30% { transform: translateX(0-60-60-60-60-60-60-60px); }
32% { transform: translateX(0-60-60-60-60-60-60-60-60px); }
34% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
36% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90px); }
38% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90px); }
40% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30px); }
42% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40px); }
44% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90px); }
46% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90px); }
48% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60px); }
50% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60px); }
52% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120px); }
54% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60px); }
56% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60px); }
58% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60px); }
60% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60px); }
62% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30px); }
64% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60px); }
66% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60px); }
68% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60px); }
70% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
72% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
74% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
76% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
78% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
80% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
82% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
84% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
86% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
88% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
90% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
92% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
94% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
96% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
98% { transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
100%{ transform: translateX(0-60-60-60-60-60-60-60-60-60-90-90-30-40-90-90-60-60-120-60-60-60-60-30-60-60-60-60px); }
}
.c__ball--13{
	animation-name: bounce-13;
	opacity:0;
	animation-delay: $delay;
	animation-direction: normal;
	animation-duration: $dur13;
	animation-fill-mode: forwards;
	animation-timing-function: linear ;
}

.c__ground--13{
	background: url('../img/ground-13.png');
	background-position: -810px;
	animation: groundMove13 $dur13  linear forwards;
	animation-delay: $delay;

}
.c__move-wrap--13{
	left: 109px;
	bottom: 47px;
	animation: screenMove13 $dur13  linear forwards;
	animation-delay: $delay;
}
.c__bush__1--13{
	left: 0;
	bottom: 4px;
}
.c__bridge__1--13{
	left: 296px;
	bottom: 56+4px;
}
.c__top-ground__1--13{
	width:418px;
	left: 481px;
	bottom: 106px;
}
.c__tube__1--13{
	left:780px;
	bottom: 149+10px
}
.c__bridge__2--13{
	left: 957px;
	bottom: 275+4-50px;
}
.c__brick-steel--13{
	width: 46*3px;
	left: 1138px;
	bottom: 251+4-50px;
}
.c__bonus__telecom{
	left: 1177px;
	bottom: 370-50px;
	animation-delay: $delay+$dur13*40/100;
}
.c__logo__rostel{
	background: url('../img/2013_rostel.png');
	width: 90px;
	height: 39px;
	left: 1150px;
	bottom: 370+46-50px;
	animation-delay: $delay+$dur13*40/100;
}
.c__top-ground__2--13{
	width:206px;
	left: 481+913px;
	bottom: 106px;
}
.c__top-ground__3--13{
	width:206px;
	left: 481+1165px;
	bottom: 254-50px;
}
.c__bonus__pochta{
	bottom: 403-50px;
	left: 481+1244px;
	animation-delay: $delay+$dur13*56/100;
}
.c__logo__pochta{
	background: url('../img/2013_pochta.png');
	width: 90px;
	height: 44px;
	left: 481+1220px;
	bottom: 403-50+20px;
	animation-delay: $delay+$dur13*56/100;
}
.c__year__2013{
	background: url('../img/2013.png');
	width: 570px;
	left: 60*4px;
	top: 60*3px;
}
.c__teleport__1--13{
	bottom: 47px;
	left: -50px;
	animation-delay: $delay+$dur13*1/100;
}
.c__teleport__2--13{
	bottom: 4px;
	left: 481+1244+150+200px;
	animation-delay: $delay+$dur13*72/100;
}