/*== 2008 ==*/


$dur08: 15000ms;


.ball--08{
  animation-name: bounce-08;
  animation-delay: 0s;
  animation-direction: normal;
  animation-duration: $dur08;
  animation-fill-mode: forwards;
  animation-timing-function: linear ;
}
@keyframes bounce-08{
 0%  { transform: translate(0px, 460px);opacity: 0; }
 2%  { transform: translate(0px, 460px);opacity: 1; }
 4%  { transform: translate(120px, 340px); }
 6%  { transform: translate(240px, 460px); }
 8%  { transform: translate(360px, 340px); }
 10% { transform: translate(480px, 460px); }//share
 12% { transform: translate(515px, 400px); }//move on
 14% { transform: translate(515px, 400+60px); }
 16% { transform: translate(515px, 400+60-60px); }//fei
 18% { transform: translate(515px, 400+60-60+60px); }
 20% { transform: translate(515px, 400+60-60+60-240px); }
 22% { transform: translate(515px, 400+60-60+60-240+90px); }//crm
 24% { transform: translate(515px, 400+60-60+60-240+90-90px); }//nv
 26% { transform: translate(515px, 400+60-60+60-240+90-90+90px); }
 28% { transform: translate(515px, 400+60-60+60-240+90-90+90-90px); }
 30% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90px); }
 32% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210px); }
 34% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35px); }
 36% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60px); }
 38% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60px); }
 40% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60px); }
 42% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60px); }//prize
 44% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60px); }
 46% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240px); }
 48% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60px); }
 50% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60px); }
 52% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90px); }
 54% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240px); }//c++
 56% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90px); }
 58% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90px); }
 60% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60px); }//conti
 62% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60px); }
 64% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180px); }
 66% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30px); }
 68% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90px); }
 70% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90px); }//qt
 72% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60px); }
 74% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210px); }
 76% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60px); }
 78% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); }
 80% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0.8; }
 82% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0.6; }
 84% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0.4; }
 86% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0.2;}
 88% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0;}
 90% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0;}
 92% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0;}
 94% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0;}
 96% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0;}
 98% { transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0;}
 100%{ transform: translate(515px, 400+60-60+60-240+90-90+90-90+90-210+35-60+60-60+60-60+240-60+60-90+240-90+90-60+60-180+30-90+90-60+210-60+60px); opacity: 0;}
}
@keyframes groundMove08{
0%  { background-position: -810px; }
2%  { background-position: -810px; }
4%  { background-position: -810px; }
6%  { background-position: -810px; }
8%  { background-position: -810px; }
10% { background-position: -810px; }
12% { background-position: -810px; }// move on
14% { background-position: -810-60px; }
16% { background-position: -810-60-60px; }
18% { background-position: -810-60-60-120px; }
20% { background-position: -810-60-60-120-120px; }
22% { background-position: -810-60-60-120-120-120px; }
24% { background-position: -810-60-60-120-120-120-140px; }
26% { background-position: -810-60-60-120-120-120-140-60px; }
28% { background-position: -810-60-60-120-120-120-140-60+60px; }
30% { background-position: -810-60-60-120-120-120-140-60+60+60px; }
32% { background-position: -810-60-60-120-120-120-140-60+60+60-60px; }
34% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60px; }
36% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120px; }
38% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120px; }
40% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120px; }
42% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90px; }
44% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30px; }
46% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30px; }
48% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60px; }
50% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60px; }
52% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75px; }
54% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75px; }
56% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60px; }
58% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60px; }
60% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60px; }
62% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90px; }
64% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60px; }
66% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60px; }
68% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60px; }
70% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90px; }
72% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60px; }
74% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60px; }
76% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60px; }
78% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
80% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
82% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
84% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
86% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
88% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
90% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
92% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
94% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
96% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
98% { background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
100%{ background-position: -810-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px; }
}
@keyframes screenMove08{
0%  { transform: translateX(0px); }
2%  { transform: translateX(0px); }
4%  { transform: translateX(0px); }
6%  { transform: translateX(0px); }
8%  { transform: translateX(0px); }
10% { transform: translateX(0px); }
12% { transform: translateX(0px); }
14% { transform: translateX(0-60px); }
16% { transform: translateX(0-60-60px); }
18% { transform: translateX(0-60-60-120px); }
20% { transform: translateX(0-60-60-120-120px); }
22% { transform: translateX(0-60-60-120-120-120px); }
24% { transform: translateX(0-60-60-120-120-120-140px); }
26% { transform: translateX(0-60-60-120-120-120-140-60px); }
28% { transform: translateX(0-60-60-120-120-120-140-60+60px); }
30% { transform: translateX(0-60-60-120-120-120-140-60+60+60px); }
32% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60px); }
34% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60px); }
36% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120px); }
38% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120px); }
40% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120px); }
42% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90px); }
44% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30px); }
46% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30px); }
48% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60px); }
50% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60px); }
52% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75px); }
54% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75px); }
56% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60px); }
58% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60px); }
60% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60px); }
62% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90px); }
64% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60px); }
66% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60px); }
68% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60px); }
70% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90px); }
72% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60px); }
74% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60px); }
76% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60px); }
78% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
80% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
82% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
84% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
86% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
88% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
90% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
92% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
94% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
96% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
98% { transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
100%{ transform: translateX(0-60-60-120-120-120-140-60+60+60-60-60-120-120-120-90-30-30+60+60+75+75-60-60-60+90-60-60-60-90-60-60-60-60px); }
}
.ground__08{
  background: url('../img/1x/ground-08.png');
  animation: groundMove08 $dur08 linear forwards;
}
.year__2008{
  background: url('../img/1x/2008.png');
  width: 591px;
  height: 214px;
  top: 210px;
  left: 264px;
  z-index: -1;
}
.bush__1--08{
  left: 148px;
  animation: screenMove08 $dur08  linear forwards;
}
.bush__2--08{
left: 708px;
animation: screenMove08 $dur08  linear forwards;
}
.bush__3--08{
left: 1353px;
animation: screenMove08 $dur08  linear forwards;
}
.bush__4--08{
  left: 1727px;
  animation: screenMove08 $dur08  linear forwards;
}
.move-wrap__1--08{
  left: 467px;
  bottom:125px;
  animation: screenMove08 $dur08  linear forwards;
}
.move-wrap__2--08{
  left: 912px;
  bottom:125px;
  animation: screenMove08 $dur08  linear forwards;
}
.move-wrap__3--08{
left: 253+1357px;
bottom:125px;
animation: screenMove08 $dur08  linear forwards;
}
.move-wrap__4--08{
  left: 1160px;
  bottom: 306px;
  animation: screenMove08 $dur08  linear forwards;
}
.move-wrap__5--08{
left: 1353+50px;
bottom: 125px;
animation: screenMove08 $dur08  linear forwards;
}
.teleport__1--08{
   opacity: 1;
  bottom: 47px;
  left: -45px;
  animation-delay: $dur08*1/100;
}
.bubble__share{
  background: url('../img/1x/bubble-share.png');
  left: 0px;
  z-index: 5;
  animation-delay: $dur08*10/100;
}
.bonus__fei{
  left: 146px;
  bottom:27px;
  animation-delay: $dur08*16/100;
}
.logo__fei{
  background: url('../img/1x/2008_fei.png');
  width: 75px;
  height: 33px;
  left: 130px;
  bottom: 27+50px;
  animation-delay: $dur08*16/100;
}
.bubble__crm{
  background: url('../img/1x/bubble-crm.png');
  left: 101px;
  bottom: 27+46px;
  animation-delay: $dur08*22/100;
}
.brick-steel__1--08{
  width: 46px;
  left: 0px;
  bottom:27px;
}
.brick__1--08{
  width: 352px;
  left:46px;
  bottom: 27px;
}
.brick-steel__2--08{
  width: 46px;
  left: 47+352px;
  bottom: 27px;
}

.bonus__conti{
  left: 0px;
  bottom: 27px;
  animation-delay: $dur08*60/100;

}
.logo__conti{
  background: url('../img/1x/Conti.png');
  width: 154px;
  height: 25px;
  left: -50px;
  bottom: 27+50px;
  animation-delay: $dur08*60/100;
}
.brick__2--08{
  width: 141px;
  bottom: 27px;
  left: 46px;
}
.brick-steel__3--08{
  width: 46px;
  bottom:27px;
  left: 46+141px;
}
.bubble__qt{
  background: url('../img/1x/bubble-qt.png');
  left: 27+141px;
  bottom: 27+46px;
  animation-delay: $dur08*70/100;
}

.bonus__nv{
  bottom: 27px;
  left: 0px;
  animation-delay: $dur08*24/100;
}
.logo__nv{
  background: url('../img/1x/2008_night.png');
  width: 59px;
  height: 38px;
  left: -10px;
  bottom: 27+50px;
  animation-delay: $dur08*24/100;
}
.brick__3--08{
  width: 174px;
  left: 46px;
  bottom: 27px;
}
.top-ground--08{
  width: 285px;
  left: 46+174px;
  bottom:27px;
}
.bubble__prize{
  background: url('../img/1x/bubble-prize.png');
  left:46+174+211px;
  bottom: 27+50px;
  z-index: 15;
  animation-delay: $dur08*42/100;
}
.bubble__ccc{
  background: url('../img/1x/bubble-ccc.png');
  left: 0px;
  z-index: 10;
  animation-delay: $dur08*54/100;
}
.teleport__2--08{
  left: 533px;
  bottom: -77px;
  opacity: 0;
  animation-delay: $dur08*78/100;
}
