/*=== 2015 ===*/

@keyframes bounce15 {
    0% {
        bottom: 50px;
        opacity: 0;
    }
    2% {
        bottom: 50px;
        opacity: 0.5;
    }
    4% {
        bottom: 50px;
        opacity: 1;
    }
    6% {
        bottom: 50+60px;
        animation-timing-function: ease-in;
    }
    8% {
        bottom: 50+60-60px;
        animation-timing-function: ease-out;
    }
    10% {
        bottom: 50+60-60+60px;
        animation-timing-function: ease-in;
    }
    12% {
        bottom: 50+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    14% {
        bottom: 50+60-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    16% {
        bottom: 50+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    18% {
        bottom: 50+60-60+60-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    20% {
        bottom: 50+60-60+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    22% {
        bottom: 110px;
        animation-timing-function: ease-in;
    }
    24% {
        bottom: 110-60px;
        animation-timing-function: ease-out;
    } //move on
    26% {
        bottom: 110-60+60px;
        animation-timing-function: ease-in;
    }
    28% {
        bottom: 110-60+60-60px;
        animation-timing-function: ease-out;
    }
    30% {
        bottom: 110-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    32% {
        bottom: 110-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    34% {
        bottom: 110-60+60-60+60-60+60px;
        animation-timing-function: ease-in;
    }
    36% {
        bottom: 110-60+60-60+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    38% {
        bottom: 110-60+60-60+60-60+60-60+105px;
        animation-timing-function: ease-in;
    } //bd
    40% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    42% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    44% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    46% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    48% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    50% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    52% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    } //net
    54% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    56% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    58% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    60% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    62% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    64% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    66% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    } //imag
    68% {
        bottom: 110-60+60-60+60-60+60-60+105px;
    }
    70% {
        bottom: 110-60+60-60+60-60+60-60+105-105px;
        animation-timing-function: ease-out;
    }
    72% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60px;
        animation-timing-function: ease-in;
    }
    74% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        animation-timing-function: ease-out;
        opacity: 1;
    }
    76% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0.8;
    }
    78% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0.6;
    }
    80% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0.4;
    }
    82% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0.2;
    }
    84% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
    86% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
    88% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
    90% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
    92% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
    94% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
    96% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
    98% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
    100% {
        bottom: 110-60+60-60+60-60+60-60+105-105+60-60px;
        opacity: 0;
    }
}

@keyframes travel15 {
    0% {
        left: 0px;
    }
    2% {
        left: 0px;
    }
    4% {
        left: 0px;
    }
    6% {
        left: 0+60px;
    }
    8% {
        left: 0+60+60px;
    }
    10% {
        left: 0+60+60+60px;
    }
    12% {
        left: 0+60+60+60+60px;
    }
    14% {
        left: 0+60+60+60+60+60px;
    }
    16% {
        left: 0+60+60+60+60+60+60px;
    }
    18% {
        left: 0+60+60+60+60+60+60+60px;
    }
    20% {
        left: 0+60+60+60+60+60+60+60+60px;
    }
    22% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    24% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    26% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    28% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    30% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    32% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    34% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    36% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    38% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    40% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    42% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    44% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    46% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    48% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    50% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    52% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    54% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    56% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    58% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    60% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    62% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    64% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    66% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    68% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    70% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    72% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    74% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    76% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    78% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    80% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    82% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    84% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    86% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    88% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    90% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    92% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    94% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    96% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    98% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
    100% {
        left: 0+60+60+60+60+60+60+60+60+60px;
    }
}


@keyframes screenMove15 {
    0% {
        transform: translateX(0px);
    }
    2% {
        transform: translateX(0px);
    }
    4% {
        transform: translateX(0px);
    }
    6% {
        transform: translateX(0px);
    }
    8% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(0px);
    }
    12% {
        transform: translateX(0px);
    }
    14% {
        transform: translateX(0px);
    }
    16% {
        transform: translateX(0px);
    }
    18% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(0px);
    }
    22% {
        transform: translateX(0px);
    }
    24% {
        transform: translateX( 0-60px);
    } //paste
    26% {
        transform: translateX( 0-60-60px);
    }
    28% {
        transform: translateX( 0-60-60-60px);
    }
    30% {
        transform: translateX( 0-60-60-60-60px);
    }
    32% {
        transform: translateX( 0-60-60-60-60-60px);
    }
    34% {
        transform: translateX( 0-60-60-60-60-60-60px);
    }
    36% {
        transform: translateX( 0-60-60-60-60-60-60-60px);
    }
    38% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    40% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    42% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    44% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    46% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    48% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    50% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    52% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    54% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    56% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    58% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    60% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    62% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    64% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    66% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    68% {
        transform: translateX( 0-60-60-60-60-60-60-60-90px);
    }
    70% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60px);
    }
    72% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60px);
    }
    74% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    76% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    78% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    80% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    82% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    84% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    86% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    88% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    90% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    92% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    94% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    96% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    98% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
    100% {
        transform: translateX( 0-60-60-60-60-60-60-60-90-60-60-60px);
    }
}

.c__traveler--15 {
    animation-name: travel15;
    animation-duration: $dur15;
    animation-delay: $delay;
}

.c__ball--15 {
    animation-name: bounce15;
    opacity: 0;
    bottom: 50px;
    animation-delay: $delay;
    animation-direction: normal;
    animation-duration: $dur15;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.c__ground--15 {
    animation: screenMove15 $dur15 linear forwards;
    animation-delay: $delay;
}

.c__move-wrap--15 {
    left: 112px;
    bottom: 47px;
    animation: screenMove15 $dur15 linear forwards;
    animation-delay: $delay;
}

.c__year__2015 {
    width: 535px;
    background-position: -595px -394px;
    left: 60*4px;
    top: 60*4px;
}

.c__bush__1--15 {
    left: 0;
    bottom: 4px;
}

.c__bush__2--15 {
    left: 543px;
    bottom: 4px;
}

.c__bush__3--15 {
    left: 543+550px;
    bottom: 4px;
}

.c__bush__4--15 {
    left: 543+550+550px;
    bottom: 4px;
}

.c__bonus__bday {
    left: 938px;
    bottom: 154px;
    animation-delay: $delay+$dur15*38/100;
}

.c__teleport__1--15 {
    bottom: 47px;
    left: -50px;
    animation-delay: $delay+$dur15*1/100;
}

.c__teleport__2--15 {
    bottom: 4px;
    left: 1075px;
    animation-delay: $delay+$dur15*76/100;
}

.c__logo__bday {
    width: 74px;
    height: 77px;
    background-position: -256px -178px;
    left: 925px;
    bottom: 154+50px;
    animation-delay: $delay+$dur15*38/100;
}


.balloon__1--15 {
    width: 634px;
    height: 413px;
    background-position: -904px -831px;
    position: absolute;
    bottom: 52px;
    left: 621px;
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 4500ms;
    animation-fill-mode: forwards;
    animation-delay: $delay+$dur15*42/100;

}

.ribbons--15 {
    width: 938px;
    height: 533px;
    background-position: -2px -1246px;
    position: absolute;
    bottom: 6px;
    left: 606px;
    z-index: 2;
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 4500ms;
    animation-fill-mode: forwards;
    animation-delay: $delay+$dur15*42/100;

}

.balloon__2--15 {
   width: 356px;
    height: 323px;
    background-position: -546px -831px;
    position: absolute;
    bottom: 6px;
    left: 606px;
    z-index: 1;
    opacity: 0;
    animation-name: bounceIn;
    animation-duration: 4500ms;
    animation-fill-mode: forwards;
    animation-delay: $delay+$dur15*42/100;

}



.c__bday--big {
     width: 395px;
    height: 301px;
    background-position: -149px -831px;
    position: absolute;
    left: 740px;
    bottom: 90px;
    z-index: 5;
    opacity: 0;
    
}
@keyframes bounceIn {

  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  33% { 
    opacity: 1;
    transform: scale3d(1.1, 1.1, 1.1);
  }

  66% { 
    opacity: 1;
    transform: scale3d(.9, .9, .9);
  }


  100% {
    opacity: 0;
    transform: scale3d(.9, .9,.9);
  }
}

@keyframes zoomIn {
    0% {
        opacity: 0;
        transform: scale3d(.3, .3, .3);
    }
    25% {
        opacity: 1;
    }
    50% {
        opacity: 1;
    }
    75% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
.c___social-container{
        width: 1084px;
    height: 560px;
    margin: 0 auto;
    position: relative;
    top: 552px;
}
.c__social{
        width: 520px;
    height: 283px;
    background: rgba(255,255,255,0.9);
     position: absolute;
    top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
    padding-top: 50px;
    padding-left: 57px;
    padding-right: 57px;
    border-radius: 20px;
    box-shadow: 0 0 16px 5px #fff;
    font-weight: 300;
   
    opacity: 0;
    z-index: 100;
    animation-name: zoomIn;
    animation-duration: 4s;
    animation-fill-mode: forwards;
    animation-delay: $delay+$dur15*46/100;
}
.c__social-head{
    color: #78bb32;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 16px;
}
.c__social-slogan{
    font-size: 20px;
    text-align: center;
}
.c__social-wrap{
    text-align: center;
    margin-top: 30px;
}
.ico{
    margin-left: 30px;
}
.c__fb{
    background: url('../img/fb-ico.png');
    width: 78px;
    height: 78px;
    display: inline-block;
    transition: ease .9s;
    &:hover{
        background:url('../img/fb-hover.png');
    }
}
.c__in{
    background: url('../img/in-ico.png');
    width: 78px;
    height: 78px;
    display: inline-block;
    transition: ease .9s;
    &:hover{
        background:url('../img/in-hover.png');
    }
}
.c__tw{
    background: url('../img/tw-ico.png');
    width: 78px;
    height: 78px;
    display: inline-block;
    transition: ease .9s;
    &:hover{
        background:url('../img/tw-hover.png');
    }
}
.c__googl{
    background: url('../img/gp-ico.png');
    width: 78px;
    height: 78px;
    display: inline-block;
    transition: ease .9s;
    &:hover{
        background:url('../img/gp-hover.png');
    }
}

