
/*== 2004 ==*/

@keyframes bounce04{
0%  { bottom:50px; opacity:0; }
2%  { bottom:50px; opacity:0.5; }
4%  { bottom:50px; opacity:1; }
6%  { bottom:50+60px; animation-timing-function: ease-in;}
8%  { bottom:50+60-60px; animation-timing-function: ease-out;}
10% { bottom:50+60-60+60px; animation-timing-function: ease-in;}
12% { bottom:50+60-60+60-60px; animation-timing-function: ease-out;}
14% { bottom:50+60-60+60-60+60px; animation-timing-function: ease-in;}
16% { bottom:50+60-60+60-60+60-60px; animation-timing-function: ease-out;}
18% { bottom:50+60-60+60-60+60-60+60px; animation-timing-function: ease-in;}//sync
20% { bottom:50+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
22% { bottom:110px; animation-timing-function: ease-in; }//move on
24% { bottom:110-60px; animation-timing-function: ease-out;}
26% { bottom:110-60+60px; animation-timing-function: ease-in; }
28% { bottom:110-60+60-60px; animation-timing-function: ease-out;}
30% { bottom:110-60+60-60+60px; animation-timing-function: ease-in; }
32% { bottom:110-60+60-60+60-60px; animation-timing-function: ease-out;}
34% { bottom:110-60+60-60+60-60+60px; animation-timing-function: ease-in; }
36% { bottom:110-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
38% { bottom:110-60+60-60+60-60+60-60+210px; animation-timing-function: ease-in;}
40% { bottom:110-60+60-60+60-60+60-60+210-60px; animation-timing-function: ease-out;}
42% { bottom:110-60+60-60+60-60+60-60+210-60+60px; animation-timing-function: ease-in;}
44% { bottom:110-60+60-60+60-60+60-60+210-60+60-60px; animation-timing-function: ease-out;}
46% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210px; animation-timing-function: ease-in;}
48% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50px; animation-timing-function: ease-out;}
50% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60px; animation-timing-function: ease-in;}
52% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60px; animation-timing-function: ease-out;}//net
54% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60px; animation-timing-function: ease-in;}
56% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60px; animation-timing-function: ease-out;}
58% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60px; animation-timing-function: ease-in;}
60% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370px; animation-timing-function: ease-out;}
62% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60px; animation-timing-function: ease-in;}
64% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60px; animation-timing-function: ease-out;}
66% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60px; animation-timing-function: ease-in;}//imag
68% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60px; animation-timing-function: ease-out;}
70% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60px; animation-timing-function: ease-in;}
72% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60px; animation-timing-function: ease-out;}
74% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60px; animation-timing-function: ease-in;}
76% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;opacity:1;}
78% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in;}
80% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
82% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in;}
84% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
86% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in;}
88% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
90% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in;}
92% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
94% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in;}
96% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
98% { bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in;}
100%{ bottom:110-60+60-60+60-60+60-60+210-60+60-60+210-50+60-60+60-60+60-370+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}

}
@keyframes travel04{
0%  { left: 0px; }
2%  { left: 0px; }
4%  { left: 0px; }
6%  { left: 0+60px; }
8%  { left: 0+60+60px; }
10% { left: 0+60+60+60px; }
12% { left: 0+60+60+60+60px; }
14% { left: 0+60+60+60+60+60px; }
16% { left: 0+60+60+60+60+60+60px; }
18% { left: 0+60+60+60+60+60+60+60px; }
20% { left: 0+60+60+60+60+60+60+60+30px; }
22% { left: 0+60+60+60+60+60+60+60+30+60px; }
24% { left: 0+60+60+60+60+60+60+60+30+60px; }
26% { left: 0+60+60+60+60+60+60+60+30+60px; }
28% { left: 0+60+60+60+60+60+60+60+30+60px; }
30% { left: 0+60+60+60+60+60+60+60+30+60px; }
32% { left: 0+60+60+60+60+60+60+60+30+60px; }
34% { left: 0+60+60+60+60+60+60+60+30+60px; }
36% { left: 0+60+60+60+60+60+60+60+30+60px; }
38% { left: 0+60+60+60+60+60+60+60+30+60px; }
40% { left: 0+60+60+60+60+60+60+60+30+60px; }
42% { left: 0+60+60+60+60+60+60+60+30+60px; }
44% { left: 0+60+60+60+60+60+60+60+30+60px; }
46% { left: 0+60+60+60+60+60+60+60+30+60px; }
48% { left: 0+60+60+60+60+60+60+60+30+60px; }
50% { left: 0+60+60+60+60+60+60+60+30+60px; }
52% { left: 0+60+60+60+60+60+60+60+30+60px; }
54% { left: 0+60+60+60+60+60+60+60+30+60px; }
56% { left: 0+60+60+60+60+60+60+60+30+60px; }
58% { left: 0+60+60+60+60+60+60+60+30+60px; }
60% { left: 0+60+60+60+60+60+60+60+30+60px; }
62% { left: 0+60+60+60+60+60+60+60+30+60px; }
64% { left: 0+60+60+60+60+60+60+60+30+60px; }
66% { left: 0+60+60+60+60+60+60+60+30+60px; }
68% { left: 0+60+60+60+60+60+60+60+30+60px; }
70% { left: 0+60+60+60+60+60+60+60+30+60px; }
72% { left: 0+60+60+60+60+60+60+60+30+60px; }
74% { left: 0+60+60+60+60+60+60+60+30+60px; }
76% { left: 0+60+60+60+60+60+60+60+30+60px; }
78% { left: 0+60+60+60+60+60+60+60+30+60px; }
80% { left: 0+60+60+60+60+60+60+60+30+60px; }
82% { left: 0+60+60+60+60+60+60+60+30+60px; }
84% { left: 0+60+60+60+60+60+60+60+30+60px; }
86% { left: 0+60+60+60+60+60+60+60+30+60px; }
88% { left: 0+60+60+60+60+60+60+60+30+60px; }
90% { left: 0+60+60+60+60+60+60+60+30+60px; }
92% { left: 0+60+60+60+60+60+60+60+30+60px; }
94% { left: 0+60+60+60+60+60+60+60+30+60px; }
96% { left: 0+60+60+60+60+60+60+60+30+60px; }
98% { left: 0+60+60+60+60+60+60+60+30+60px; }
100%{ left: 0+60+60+60+60+60+60+60+30+60px; }

}
@keyframes groundMove04{

0%  { background-position: 0px; }
2%  { background-position: 0px; }
4%  { background-position: 0px; }
6%  { background-position: 0px; }
8%  { background-position: 0px; }
10% { background-position: 0px; }
12% { background-position: 0px; }
14% { background-position: 0px; }
16% { background-position: 0px; }
18% { background-position: 0px; }
20% { background-position: 0px; }
22% { background-position: 0px; }
24% { background-position: 0-60px; }//paste
26% { background-position: 0-60-60px; }
28% { background-position: 0-60-60-60px; }
30% { background-position: 0-60-60-60-60px; }
32% { background-position: 0-60-60-60-60-60px; }
34% { background-position: 0-60-60-60-60-60-60px; }
36% { background-position: 0-60-60-60-60-60-60-90px; }
38% { background-position: 0-60-60-60-60-60-60-90+60px; }
40% { background-position: 0-60-60-60-60-60-60-90+60+60px; }
42% { background-position: 0-60-60-60-60-60-60-90+60+60+60px; }
44% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30px; }
46% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60px; }
48% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60px; }
50% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60px; }
52% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60px; }
54% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60px; }
56% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40px; }
58% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60px; }
60% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40px; }
62% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60px; }
64% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40px; }
66% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40px; }
68% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60px; }
70% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60px; }
72% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60px; }
74% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60px; }
76% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
78% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
80% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
82% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
84% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
86% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
88% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
90% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
92% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
94% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
96% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
98% { background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
100%{ background-position: 0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px; }
}
@keyframes screenMove04{
0%  { transform: translateX(0px); }
2%  { transform: translateX(0px); }
4%  { transform: translateX(0px); }
6%  { transform: translateX(0px); }
8%  { transform: translateX(0px); }
10% { transform: translateX(0px); }
12% { transform: translateX(0px); }
14% { transform: translateX(0px); }
16% { transform: translateX(0px); }
18% { transform: translateX(0px); }
20% { transform: translateX(0px); }
22% { transform: translateX(0px); }
24% { transform: translateX(0-60px); }//paste
26% { transform: translateX(0-60-60px); }
28% { transform: translateX(0-60-60-60px); }
30% { transform: translateX(0-60-60-60-60px); }
32% { transform: translateX(0-60-60-60-60-60px); }
34% { transform: translateX(0-60-60-60-60-60-60px); }
36% { transform: translateX(0-60-60-60-60-60-60-90px); }
38% { transform: translateX(0-60-60-60-60-60-60-90+60px); }
40% { transform: translateX(0-60-60-60-60-60-60-90+60+60px); }
42% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60px); }
44% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30px); }
46% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60px); }
48% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60px); }
50% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60px); }
52% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60px); }
54% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60px); }
56% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40px); }
58% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60px); }
60% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40px); }
62% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60px); }
64% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40px); }
66% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40px); }
68% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60px); }
70% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60px); }
72% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60px); }
74% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60px); }
76% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
78% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
80% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
82% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
84% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
86% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
88% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
90% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
92% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
94% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
96% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
98% { transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }
100%{ transform: translateX(0-60-60-60-60-60-60-90+60+60+60+30-60-60-60-60-60-40-60-40-60-40-40-60-60-60-60-60px); }

}


.c__ball--04{
  bottom: 47px;
  left: 0;
  opacity:0;
  bottom: 50px;
  animation-name: bounce04;
  animation-direction: normal;
  animation-duration: $dur04;
  animation-fill-mode: forwards;
  animation-delay: $delay;
}

.c__traveler--04{
  animation-name: travel04;
  animation-duration: $dur04;
  animation-delay: $delay;
}

.c__move-wrap--04{
  left: 148px;
  bottom: 50px;
  animation: screenMove04 $dur04 linear forwards;
   animation-delay: $delay;
}

.c__ground__04{
  background: url('../img/ground-04.png');
  animation: groundMove04 $dur04 linear forwards;
   animation-delay: $delay;
}
.c__teleport__1--04{
  opacity: 1;
  bottom: 47px;
  left: -45px;
  animation-delay: $delay+$dur04*1/100;
}
.c__city{
  background: url('../img/city.png') repeat-x;
  height: 162px;
  width: 100%;
  position: absolute;
  bottom: 47px;
}
.c__year__2004{
  width: 598px;
  background-position: -1317px -178px;
  top: 210px;
  left: 264px;
  z-index: -1;
}
.c__bush__1--04{
  left: 0px;
  bottom: 0;
}
.c__bush__2--04{
  left: 559px;
  bottom: 0;
}
.c__bush__3--04{
  left: 1030px;
  bottom: 0;
}
.c__bush__4--04{
  left: 1030+546px;
  bottom: 0;
}

.c__move-wrap__1--04{
  left: 416px;
  bottom: 155px;
}
.c__bonus__sync{
  left: 269px;
  bottom: 103px;
  animation-delay: $delay+$dur04*18/100;
}
.c__logo__sync{
  width: 95px;
    height: 25px;
    background-position: -820px -25px;
  left: 243px;
  bottom: 103+50px;
  animation-delay: $delay+$dur04*18/100;
}
.c__brick-steel--04{
  width: 460px;
  left:46+269px;
  bottom: 103px;
}
.c__top-ground--04{
  width: 284px;
  bottom: 254px;
  left: 701px;
}
.c__bubble__net{
    background-position: -676px -102px;
  bottom: 299+7px;
  left: 807px;
  z-index: 5;
  animation-delay: $delay+$dur04*52/100;
}

.c__brick__1--04{
  width:91px;
  left: 1083px;
  bottom: 104px;
}
.c__bonus__imag{
  left: 91+1083px;
  bottom: 104px;
  animation-delay: $delay+$dur04*66/100;
}
.c__logo__imag{
  width: 106px;
    height: 15px;
    background-position: -1190px -2px;
  left: 1146px;
  bottom: 50+104px;
  animation-delay: $delay+$dur04*66/100;

}
.c__brick__2--04{
  width: 92px;
  left: 91+46+1083px;
  bottom: 104px;
}

.c__teleport__2--04{
  left: 1030+430-30px;
  bottom: 0;
  opacity: 1;
  animation-delay: $delay+$dur04*78/100;
}

