/*== 2000 ==*/
// $bounce: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60-60+60px);
// $groundMove: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px;
// $screenMove: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px);

 @keyframes bounce-00 { 

0%  { transform: translateY(0px); }
2%  {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90px); }
4%  { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90px); }
6%  {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120px); }
8%  { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50px); }//java
10% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90px); }
12% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165px); }
14% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120px); }
16% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120px); }
18% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60px); }//rd
20% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60px); }
22% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60px); }
24% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60px); }
26% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60px); }
28% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60px); }
30% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170px); }
32% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20px); }
34% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120px); }
36% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45px); }
38% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40px); }//data
40% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40px); }
42% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50px); }
44% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273px); }
46% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60px); }
48% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60px); }
50% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60px); }
52% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60px); }//sql
54% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60px); }
56% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60px); }
58% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60px); }
60% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
62% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
64% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
66% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
68% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
70% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
72% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
74% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
76% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
78% {  animation-timing-function:cubic-bezier(0.55, 0.085, 0.68, 0.53);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
80% { animation-timing-function:cubic-bezier(0.25, 0.46, 0.45, 0.94);transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
82% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
84% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
86% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
88% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
90% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
92% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
94% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
96% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
98% { transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }
100%{ transform: translateY(0-90+90-120+50-90+165-120+120-60+60-60+60-60+60-170+20-120+45-40+40-50+273-60+60-60+60-60+60-60+60px); }

}

@keyframes groundMove00 {

0%  { background-position: -285px 0px; }
2%  { background-position: -285-90px 0px; }
4%  { background-position: -285-90-90px 0px; }
6%  { background-position: -285-90-90-90px 0px; }
8%  { background-position: -285-90-90-90-90px 0px; }
10% { background-position: -285-90-90-90-90-90px 0px }
12% { background-position: -285-90-90-90-90-90-900px 0px }
14% { background-position: -285-90-90-90-90-90-90-120px 0px }
16% { background-position: -285-90-90-90-90-90-90-120-120px 0px }
18% { background-position: -285-90-90-90-90-90-90-120-120-120px 0px }
20% { background-position: -285-90-90-90-90-90-90-120-120-120-90px 0px; }
22% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90px 0px; }
24% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90px 0px; }
26% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90px 0px; }
28% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100px 0px; }
30% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10px 0px; }
32% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40px 0px; }
34% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40px 0px; }
36% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50px 0px; }
38% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50px 0px; }
40% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50px 0px; }
42% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50px 0px; }
44% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30px 0px; }
46% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50px 0px; }
48% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50px 0px; }
50% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50px 0px; }
52% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60px 0px; }
54% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60px 0px; }
56% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60px 0px; }
58% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60px 0px; }
60% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60px 0px; }
62% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60px 0px; }
64% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
66% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
68% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
70% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
72% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
74% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
76% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
78% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
80% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
82% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
84% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
86% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
88% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
90% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
92% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
94% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
96% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
98% { background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }
100%{ background-position: -285-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px 0px; }

}

@keyframes screenMove00 {

0%  { transform: translateX(0px); }
2%  { transform: translateX(0-90px); }
4%  { transform: translateX(0-90-90px); }
6%  { transform: translateX(0-90-90-90px); }
8%  { transform: translateX(0-90-90-90-90px); }
10% { transform: translateX(0-90-90-90-90-90px); }
12% { transform: translateX(0-90-90-90-90-90-90px); }
14% { transform: translateX(0-90-90-90-90-90-90-120px); }
16% { transform: translateX(0-90-90-90-90-90-90-120-120px); }
18% { transform: translateX(0-90-90-90-90-90-90-120-120-120px); }
20% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90px); }
22% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90px); }
24% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90px); }
26% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90px); }
28% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100px); }
30% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10px); }
32% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40px); }
34% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40px); }
36% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50px); }
38% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50px); }
40% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50px); }
42% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50px); }
44% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30px); }
46% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50px); }
48% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50px); }
50% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50px); }
52% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60px); }
54% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60px); }
56% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60px); }
58% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60px); }
60% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60px); }
62% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60px); }
64% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
66% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
68% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
70% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
72% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
74% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
76% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
78% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
80% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
82% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
84% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
86% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
88% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
90% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
92% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
94% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
96% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
98% { transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }
100%{ transform: translateX(0-90-90-90-90-90-90-120-120-120-90-90-90-90-100+10+40-40-50-50-50-50-30-50-50-50-60-60-60-60-60-60-60px); }

}
.c__ball--00{
  top: 460px;
  left: 542-23px;
  opacity:1;
  opacity: 1;
  animation-name: bounce-00;
  animation-delay: $delay;
  animation-duration: $dur00;
  animation-fill-mode: forwards;
  animation-timing-function: linear ;
}
.c__move-wrap--00{
  left: 542+322px;
  bottom: 50px;
  animation: screenMove00 $dur00 linear forwards;
  animation-delay: $delay;
}
.c__ground--00{
  background: url('../img/ground-00.png');
  animation: groundMove00 $dur00 linear forwards;
  animation-delay: $delay;
  background-attachment:fixed;
}

.c__mount{
  background: url('../img/mount.png') repeat-x;
  height: 223px;
  width: 100%;
  position: absolute;
  bottom: 40px;
  z-index: -2;
}

.c__year__2000{
  background: url('../img/year.png');
  height: 214px;
  width: 555px;
  top: 210px;
  left: 264px;
  z-index: -10;
}

.c__bush__1--00{
  left: -322-250px;
  bottom: 0;
}

.c__bush__2--00{
  left: 788px;
  bottom: 0;
}
.c__bush__3--00{
  left: 788+476px;
  bottom: 0;
}

.c__tube--00{
  left: 0px;
  bottom: 0;
}

.c__bubble__java{
  background: url('../img/bubble-java.png');
  left: 12px;
  bottom: 78px;
}
.c__bonus__rd{
 left: 584px;
 bottom: 102px;
}

.c__brick--00{
  width:371px;
  left: 584+46px;
  bottom: 102px;
}
.c__logo__rd{
  background: url('../img/2000_Soft.png');
  width: 73px;
  height: 49px;
  left:570px;
  bottom: 102+52px

}

.c__top-ground--00{
  width: 129px;
  left: 1067px;
  bottom: 170px;

}
.c__bonus__data{
  bottom: 279+30px;
  left: 1106px;

}
.c__logo__data{
  background: url('../img/2000_dataart.png');
  width: 73px;
  height: 18px;
  bottom: 279+30+50px;
  left: 1085px;
}
.c__bubble__sql{
  background: url('../img/bubble-sql.png');
  left: 1106+321px;
  bottom:0;
}
.c__teleport--00{
  left: 1106+321+283+45px;
  bottom:0;
}

