/*== 2000 ==*/

 @keyframes bounce00 { 
0%  { bottom: 583px; }
2%  { bottom: 583px; }
4%  { bottom: 583px; }
6%  { bottom: 50px; animation-timing-function: ease-out;}
8%  { bottom: 50+60px; animation-timing-function: ease-in;}
10% { bottom: 50+60-60px; animation-timing-function: ease-out;}
12% { bottom: 50+60-60+60px; animation-timing-function: ease-in;}
14% { bottom: 50+60-60+60-60px; animation-timing-function: ease-out;}
16% { bottom: 50+60-60+60-60+120px; animation-timing-function: ease-in;}
18% { bottom: 50+60-60+60-60+120-45px; animation-timing-function: ease-out;}//java
20% { bottom: 50+60-60+60-60+120-45+60px; animation-timing-function: ease-in;}
22% { bottom: 50+60-60+60-60+120-45+60-135px; animation-timing-function: ease-out;}//move on
24% { bottom: 50+120px; animation-timing-function: ease-in;}
26% { bottom: 50+120-120px; animation-timing-function: ease-out;}
28% { bottom: 50+120-120+60px; animation-timing-function: ease-in;}
30% { bottom: 50+120-120+60-60px; animation-timing-function: ease-out;}
32% { bottom: 50+120-120+60-60+60px; animation-timing-function: ease-in;}//rd
34% { bottom: 50+120-120+60-60+60-60px; animation-timing-function: ease-out;}
36% { bottom: 50+120-120+60-60+60-60+60px; animation-timing-function: ease-in;}
38% { bottom: 50+120-120+60-60+60-60+60-60px; animation-timing-function: ease-out;}
40% { bottom: 50+120-120+60-60+60-60+60-60+60px; animation-timing-function: ease-in;}
42% { bottom: 50+120-120+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
44% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60px; animation-timing-function: ease-in;}
46% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;}
48% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210px; animation-timing-function: ease-in;}
50% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60px; animation-timing-function: ease-out;}
52% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150px; animation-timing-function: ease-in;}
54% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75px; animation-timing-function: ease-out;}
56% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40px; animation-timing-function: ease-in;}//data
58% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40px; animation-timing-function: ease-out;}
60% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60px; animation-timing-function: ease-in;}
62% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285px; animation-timing-function: ease-out;}
64% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60px; animation-timing-function: ease-in;}
66% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60px; animation-timing-function: ease-out;}//sql
68% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60px; animation-timing-function: ease-in;}
70% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60px; animation-timing-function: ease-out;}
72% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60px; animation-timing-function: ease-in;}
74% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60px; animation-timing-function: ease-out;}
76% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60px; animation-timing-function: ease-in;}
78% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;opacity: 1; }
80% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in; opacity: 1; }
82% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;opacity: 0.8; }//
84% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in; opacity: 0.6; }
86% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;opacity: 0.4; }
88% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in; opacity: 0.2; }
90% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;opacity: 0; }
92% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in; opacity: 0; }
94% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;opacity: 0; }
96% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in; opacity: 0; }
98% { bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-out;opacity: 0; }
100%{ bottom: 50+120-120+60-60+60-60+60-60+60-60+60-60+210-60+150-75+40-40+60-285+60-60+60-60+60-60+60-60px; animation-timing-function: ease-in; opacity: 0; }
}

 @keyframes travel00 {
0%  { left: 0; }
2%  { left: 0; }
4%  { left: 0px ; }
6%  { left: 0px; }
8%  { left: 0+60px; }
10% { left: 0+60+60px; }
12% { left: 0+60+60+60px; }
14% { left: 0+60+60+60+60px; }
16% { left: 0+60+60+60+60+60px; }
18% { left: 0+60+60+60+60+60+60px; }
20% { left: 60+60+60+60+60+60+60px; }
22% { left: 60+60+60+60+60+60+60+90px; }
24% { left: 60+60+60+60+60+60+60+90px; }
26% { left: 60+60+60+60+60+60+60+90px; }
28% { left: 60+60+60+60+60+60+60+90px; }
30% { left: 60+60+60+60+60+60+60+90px; }
32% { left: 60+60+60+60+60+60+60+90px; }
34% { left: 60+60+60+60+60+60+60+90px; }
36% { left: 60+60+60+60+60+60+60+90px; }
38% { left: 60+60+60+60+60+60+60+90px; }
40% { left: 60+60+60+60+60+60+60+90px; }
42% { left: 60+60+60+60+60+60+60+90px; }
44% { left: 60+60+60+60+60+60+60+90px; }
46% { left: 60+60+60+60+60+60+60+90px; }
48% { left: 60+60+60+60+60+60+60+90px; }
50% { left: 60+60+60+60+60+60+60+90px; }
52% { left: 60+60+60+60+60+60+60+90px; }
54% { left: 60+60+60+60+60+60+60+90px; }
56% { left: 60+60+60+60+60+60+60+90px; }
58% { left: 60+60+60+60+60+60+60+90px; }
60% { left: 60+60+60+60+60+60+60+90px; }
62% { left: 60+60+60+60+60+60+60+90px; }
64% { left: 60+60+60+60+60+60+60+90px; }
66% { left: 60+60+60+60+60+60+60+90px; }
68% { left: 60+60+60+60+60+60+60+90px; }
70% { left: 60+60+60+60+60+60+60+90px; }
72% { left: 60+60+60+60+60+60+60+90px; }
74% { left: 60+60+60+60+60+60+60+90px; }
76% { left: 60+60+60+60+60+60+60+90px; }
78% { left: 60+60+60+60+60+60+60+90px; }
80% { left: 60+60+60+60+60+60+60+90px; }
82% { left: 60+60+60+60+60+60+60+90px; }
84% { left: 60+60+60+60+60+60+60+90px; }
86% { left: 60+60+60+60+60+60+60+90px; }
88% { left: 60+60+60+60+60+60+60+90px; }
90% { left: 60+60+60+60+60+60+60+90px; }
92% { left: 60+60+60+60+60+60+60+90px; }
94% { left: 60+60+60+60+60+60+60+90px; }
96% { left: 60+60+60+60+60+60+60+90px; }
98% { left: 60+60+60+60+60+60+60+90px; }
100%{ left: 60+60+60+60+60+60+60+90px; }
 }

@keyframes groundMove00 {
0%  {  background-position: -827px 0px; }
2%  {  background-position: -827px 0px; }
4%  {  background-position: -827px 0px; }
6%  {  background-position: -827px 0px; }
8%  {  background-position: -827px 0px; }
10% {  background-position: -827px 0px; }
12% {  background-position: -827px 0px; }
14% {  background-position: -827px 0px; }
16% {  background-position: -827px 0px; }
18% {  background-position: -827px 0px; }
20% {  background-position: -827px 0px; }
22% {  background-position: -827px 0px; }
24% {  background-position: -827-120px 0px; }//paste here
26% {  background-position: -827-120-120px 0px; }
28% {  background-position: -827-120-120-60px 0px; }
30% {  background-position: -827-120-120-60-60px 0px; }
32% {  background-position: -827-120-120-60-60-40px 0px; }
34% {  background-position: -827-120-120-60-60-40-60px 0px; }
36% {  background-position: -827-120-120-60-60-40-60-60px 0px; }
38% {  background-position: -827-120-120-60-60-40-60-60-60px 0px; }
40% {  background-position: -827-120-120-60-60-40-60-60-60-60px 0px; }
42% {  background-position: -827-120-120-60-60-40-60-60-60-60-60px 0px; }
44% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60px 0px; }
46% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60px 0px; }
48% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10px 0px; }
50% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70px 0px; }
52% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50px 0px; }
54% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50px 0px; }
56% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40px 0px; }
58% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60px 0px; }
60% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60px 0px; }
62% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60px 0px; }
64% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60px 0px; }
66% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80px 0px; }
68% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60px 0px; }
70% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60px 0px; }
72% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60px 0px; }
74% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60px 0px; }
76% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60px 0px; }
78% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
80% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
82% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
84% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
86% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
88% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
90% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
92% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
94% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
96% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
98% {  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
100%{  background-position: -827-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }

}

@keyframes groundMove00-2 {
0%  {  background-position: -1078px 0px; }
2%  {  background-position: -1078px 0px; }
4%  {  background-position: -1078px 0px; }
6%  {  background-position: -1078px 0px; }
8%  {  background-position: -1078px 0px; }
10% {  background-position: -1078px 0px; }
12% {  background-position: -1078px 0px; }
14% {  background-position: -1078px 0px; }
16% {  background-position: -1078px 0px; }
18% {  background-position: -1078px 0px; }
20% {  background-position: -1078px 0px; }
22% {  background-position: -1078px 0px; }
24% {  background-position: -1078-120px 0px; }//paste here
26% {  background-position: -1078-120-120px 0px; }
28% {  background-position: -1078-120-120-60px 0px; }
30% {  background-position: -1078-120-120-60-60px 0px; }
32% {  background-position: -1078-120-120-60-60-40px 0px; }
34% {  background-position: -1078-120-120-60-60-40-60px 0px; }
36% {  background-position: -1078-120-120-60-60-40-60-60px 0px; }
38% {  background-position: -1078-120-120-60-60-40-60-60-60px 0px; }
40% {  background-position: -1078-120-120-60-60-40-60-60-60-60px 0px; }
42% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60px 0px; }
44% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60px 0px; }
46% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60px 0px; }
48% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10px 0px; }
50% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70px 0px; }
52% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50px 0px; }
54% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50px 0px; }
56% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40px 0px; }
58% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60px 0px; }
60% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60px 0px; }
62% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60px 0px; }
64% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60px 0px; }
66% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80px 0px; }
68% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60px 0px; }
70% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60px 0px; }
72% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60px 0px; }
74% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60px 0px; }
76% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60px 0px; }
78% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
80% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
82% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
84% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
86% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
88% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
90% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
92% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
94% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
96% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
98% {  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }
100%{  background-position: -1078-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px 0px; }

}

@keyframes screenMove00 {
0%  { transform: translateX(0px); }
2%  { transform: translateX(0px); }
4%  { transform: translateX(0px); }
6%  { transform: translateX(0px); }
8%  { transform: translateX(0px); }
10% { transform: translateX(0px); }
12% { transform: translateX(0px); }
14% { transform: translateX(0px); }
16% { transform: translateX(0px); }
18% { transform: translateX(0px); }
20% { transform: translateX(0px); }
22% { transform: translateX(0px); }
24% { transform: translateX(0-120px); }//paste here
26% { transform: translateX(0-120-120px); }
28% { transform: translateX(0-120-120-60px); }
30% { transform: translateX(0-120-120-60-60px); }
32% { transform: translateX(0-120-120-60-60-40px); }
34% { transform: translateX(0-120-120-60-60-40-60px); }
36% { transform: translateX(0-120-120-60-60-40-60-60px); }
38% { transform: translateX(0-120-120-60-60-40-60-60-60px); }
40% { transform: translateX(0-120-120-60-60-40-60-60-60-60px); }
42% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60px); }
44% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60px); }
46% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60px); }
48% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10px); }
50% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70px); }
52% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50px); }
54% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50px); }
56% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40px); }
58% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60px); }
60% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60px); }
62% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60px); }
64% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60px); }
66% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80px); }
68% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60px); }
70% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60px); }
72% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60px); }
74% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60px); }
76% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60px); }
78% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
80% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
82% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
84% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
86% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
88% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
90% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
92% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
94% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
96% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
98% { transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }
100%{ transform: translateX(0-120-120-60-60-40-60-60-60-60-60-60-60-10+70-50-50-40-60-60-60-60-80-60-60-60-60-60-60px); }


}

.c__traveler--00{
  animation-name: travel00;
  animation-duration: $dur00;
  animation-delay: $delay;
}

.c__ball--00{
  opacity:1;
  animation-name: bounce00;
  animation-duration: $dur00;
   animation-delay: $delay;
   bottom: 583px;
}
.c__move-wrap--00{
  left: 322px;
  bottom: 50px;
   animation: screenMove00 $dur00 linear forwards;
   animation-delay: $delay;
}
.c__ground--00{
  background: url('../img/ground-00.png');
   animation: groundMove00 $dur00 linear forwards;
   animation-delay: $delay;
   background-position: -827px 0px;
}
.c__ground--00-2{
  background: url('../img/ground-00.png');
  background-position: -1078px 0px;
  animation: groundMove00-2 $dur00 linear forwards;
   animation-delay: $delay;
}

.c__mount{
  background: url('../img/mount.png') repeat-x;
  height: 223px;
  width: 100%;
  position: absolute;
  bottom: 40px;
  z-index: -2;
}

.c__year__2000{
  width: 595px;
  background-position: -1132px -394px;
  top: 210px;
  left: 264px;
  z-index: -10;
}

.c__bush__1--00{
  left: -322-250px;
  bottom: 0;
}

.c__bush__2--00{
  left: 788px;
  bottom: 0;
}
.c__bush__3--00{
  left: 788+476px;
  bottom: 0;
}

.c__tube--00{
  left: 0px;
  bottom: 0;
}

.c__bubble__java{
  background-position: -1359px -102px;
  left: 12px;
  bottom: 78px;
  animation-delay: $delay+$dur00*18/100;
}
.c__bonus__rd{
 left: 584px;
 bottom: 102px;
 animation-delay: $delay+$dur00*32/100;
}

.c__brick--00{
  width:371px;
  left: 584+46px;
  bottom: 102px;
}
.c__logo__rd{
  width: 73px;
    height: 49px;
    background-position: -133px -102px;
  left:570px;
  bottom: 102+52px;
  animation-delay: $delay+$dur00*32/100;

}

.c__top-ground--00{
  width: 129px;
  left: 1067px;
  bottom: 170px;

}
.c__bonus__data{
  bottom: 279+30px;
  left: 1106px;
  animation-delay: $delay+$dur00*56/100;

}
.c__logo__data{
  width: 73px;
    height: 18px;
    background-position: -1359px -2px;
  bottom: 279+30+50px;
  left: 1085px;
  animation-delay: $delay+$dur00*56/100;
}
.c__bubble__sql{

  background-position: -1663px -102px;
  left: 1106+321px;
  bottom:0;
  animation-delay: $delay+$dur00*66/100;
}
.c__teleport--00{
  left: 1106+321+283+10px;
  bottom:0;
  opacity: 0;
  animation-delay: $delay+$dur00*82/100;
}

