/*=== 2013 ===*/

.c__ball--13{
  will-change: bottom;
}
.c__traveler--13{
  will-change: left;
}
.c__move-wrap--13,
.c__ground--13{
  will-change: transform;
}


@keyframes bounce13 {
    0% {
        bottom: 50px;
        opacity: 0;
    }
    2% {
        bottom: 50px;
        opacity: 0.5;
    }
    4% {
        bottom: 50px;
        opacity: 1;
    }
    6% {
        bottom: 50+60px;
        animation-timing-function: ease-in;
    }
    8% {
        bottom: 50+60-60px;
        animation-timing-function: ease-out;
    }
    10% {
        bottom: 50+60-60+60px;
        animation-timing-function: ease-in;
    }
    12% {
        bottom: 50+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    14% {
        bottom: 50+60-60+60-60+120px;
        animation-timing-function: ease-in;
    }
    16% {
        bottom: 50+60-60+60-60+120-35px;
        animation-timing-function: ease-out;
    }
    18% {
        bottom: 255px;
        animation-timing-function: ease-in;
    }
    20% {
        bottom: 255-48px;
        animation-timing-function: ease-out;
    }
    22% {
        bottom: 255-48+60px;
        animation-timing-function: ease-in;
    }
    24% {
        bottom: 255-48+60-60px;
        animation-timing-function: ease-out;
    }
    26% {
        bottom: 255-48+60-60+60px;
        animation-timing-function: ease-in;
    }
    28% {
        bottom: 255-48+60-60+60-60px;
        animation-timing-function: ease-out;
    }
    30% {
        bottom: 255-48+60-60+60-60+90px;
        animation-timing-function: ease-in;
    }
    32% {
        bottom: 255-48+60-60+60-60+90-15px;
        animation-timing-function: ease-out;
    }
    34% {
        bottom: 255-48+60-60+60-60+90-15+90px;
        animation-timing-function: ease-in;
    }
    36% {
        bottom: 255-48+60-60+60-60+90-15+90-70px;
        animation-timing-function: ease-out;
    }
    38% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90px;
        animation-timing-function: ease-in;
    }
    40% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95px;
        animation-timing-function: ease-out;
    }
    42% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25px;
        animation-timing-function: ease-in;
    } //rostel
    44% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25px;
        animation-timing-function: ease-out;
    }
    46% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90px;
        animation-timing-function: ease-in;
    }
    48% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180px;
        animation-timing-function: ease-out;
    }
    50% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60px;
        animation-timing-function: ease-in;
    }
    52% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60px;
        animation-timing-function: ease-out;
    } //net
    54% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180px;
        animation-timing-function: ease-in;
    }
    56% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80px;
        animation-timing-function: ease-out;
    }
    58% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55px;
        animation-timing-function: ease-in;
    } //pochta
    60% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55px;
        animation-timing-function: ease-out;
    }
    62% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60px;
        animation-timing-function: ease-in;
    }
    64% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320px;
        animation-timing-function: ease-out;
    }
    66% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60px;
        animation-timing-function: ease-in;
    } //imag
    68% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60px;
        animation-timing-function: ease-out;
    }
    70% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60px;
        animation-timing-function: ease-in;
    }
    72% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 1;
    } //end
    74% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-in;
        opacity: 0.8;
    }
    76% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 0.6;
    }
    78% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-in;
        opacity: 0.4;
    }
    80% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 0.2;
    }
    82% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    84% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 0;
    }
    86% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    88% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 0;
    }
    90% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    92% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 0;
    }
    94% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    96% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 0;
    }
    98% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-in;
        opacity: 0;
    }
    100% {
        bottom: 255-48+60-60+60-60+90-15+90-70+90-95+25-25+90-180+60-60+180-80+55-55+60-320+60-60+60-60px;
        animation-timing-function: ease-out;
        opacity: 0;
    }
}

@keyframes travel13 {
    0% {
        left: 0px;
    }
    2% {
        left: 0px;
    }
    4% {
        left: 0px;
    }
    6% {
        left: 0+60px;
    }
    8% {
        left: 0+60+60px;
    }
    10% {
        left: 0+60+60+60px;
    }
    12% {
        left: 0+60+60+60+60px;
    }
    14% {
        left: 0+60+60+60+60+90px;
    }
    16% {
        left: 0+60+60+60+60+90+90px;
    }
    18% {
        left: 0+60+60+60+60+90+90+90px;
    }
    20% {
        left: 0+60+60+60+60+90+90+90px;
    }
    22% {
        left: 0+60+60+60+60+90+90+90px;
    }
    24% {
        left: 0+60+60+60+60+90+90+90px;
    }
    26% {
        left: 0+60+60+60+60+90+90+90px;
    }
    28% {
        left: 0+60+60+60+60+90+90+90px;
    }
    30% {
        left: 0+60+60+60+60+90+90+90px;
    }
    32% {
        left: 0+60+60+60+60+90+90+90px;
    }
    34% {
        left: 0+60+60+60+60+90+90+90px;
    }
    36% {
        left: 0+60+60+60+60+90+90+90px;
    }
    38% {
        left: 0+60+60+60+60+90+90+90px;
    }
    40% {
        left: 0+60+60+60+60+90+90+90px;
    }
    42% {
        left: 0+60+60+60+60+90+90+90px;
    }
    44% {
        left: 0+60+60+60+60+90+90+90px;
    }
    46% {
        left: 0+60+60+60+60+90+90+90px;
    }
    48% {
        left: 0+60+60+60+60+90+90+90px;
    }
    50% {
        left: 0+60+60+60+60+90+90+90px;
    }
    52% {
        left: 0+60+60+60+60+90+90+90px;
    }
    54% {
        left: 0+60+60+60+60+90+90+90px;
    }
    56% {
        left: 0+60+60+60+60+90+90+90px;
    }
    58% {
        left: 0+60+60+60+60+90+90+90px;
    }
    60% {
        left: 0+60+60+60+60+90+90+90px;
    }
    62% {
        left: 0+60+60+60+60+90+90+90px;
    }
    64% {
        left: 0+60+60+60+60+90+90+90px;
    }
    66% {
        left: 0+60+60+60+60+90+90+90px;
    }
    68% {
        left: 0+60+60+60+60+90+90+90px;
    }
    70% {
        left: 0+60+60+60+60+90+90+90px;
    }
    72% {
        left: 0+60+60+60+60+90+90+90px;
    }
    74% {
        left: 0+60+60+60+60+90+90+90px;
    }
    76% {
        left: 0+60+60+60+60+90+90+90px;
    }
    78% {
        left: 0+60+60+60+60+90+90+90px;
    }
    80% {
        left: 0+60+60+60+60+90+90+90px;
    }
    82% {
        left: 0+60+60+60+60+90+90+90px;
    }
    84% {
        left: 0+60+60+60+60+90+90+90px;
    }
    86% {
        left: 0+60+60+60+60+90+90+90px;
    }
    88% {
        left: 0+60+60+60+60+90+90+90px;
    }
    90% {
        left: 0+60+60+60+60+90+90+90px;
    }
    92% {
        left: 0+60+60+60+60+90+90+90px;
    }
    94% {
        left: 0+60+60+60+60+90+90+90px;
    }
    96% {
        left: 0+60+60+60+60+90+90+90px;
    }
    98% {
        left: 0+60+60+60+60+90+90+90px;
    }
    100% {
        left: 0+60+60+60+60+90+90+90px;
    }
}


@keyframes screenMove13 {
    0% {
        transform: translateX(0px);
    }
    2% {
        transform: translateX(0px);
    }
    4% {
        transform: translateX(0px);
    }
    6% {
        transform: translateX(0px);
    }
    8% {
        transform: translateX(0px);
    }
    10% {
        transform: translateX(0px);
    }
    12% {
        transform: translateX(0px);
    }
    14% {
        transform: translateX(0px);
    }
    16% {
        transform: translateX(0px);
    }
    18% {
        transform: translateX(0px);
    }
    20% {
        transform: translateX(0-60px);
    } //paste
    22% {
        transform: translateX(0-60-60px);
    }
    24% {
        transform: translateX(0-60-60-60px);
    }
    26% {
        transform: translateX(0-60-60-60-60px);
    }
    28% {
        transform: translateX(0-60-60-60-60-60px);
    }
    30% {
        transform: translateX(0-60-60-60-60-60-60px);
    }
    32% {
        transform: translateX(0-60-60-60-60-60-60-40px);
    }
    34% {
        transform: translateX(0-60-60-60-60-60-60-40-90px);
    }
    36% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90px);
    }
    38% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90px);
    }
    40% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60px);
    }
    42% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60px);
    }
    44% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30px);
    }
    46% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90px);
    }
    48% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90px);
    }
    50% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60px);
    }
    52% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60px);
    }
    54% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60px);
    }
    56% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90px);
    }
    58% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60px);
    }
    60% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60px);
    }
    62% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60px);
    }
    64% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60px);
    }
    66% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60px);
    }
    68% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60px);
    }
    70% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60px);
    }
    72% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    74% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    76% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    78% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    80% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    82% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    84% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    86% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    88% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    90% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    92% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    94% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    96% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    98% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
    100% {
        transform: translateX(0-60-60-60-60-60-60-40-90-90-90-60-60-30-90-90-60-60-60-90-60-60-60-60-60-60-60-60px);
    }
}

.c__ball--13 {
    animation-name: bounce13;
    opacity: 0;
    bottom: 50px;
    animation-delay: $delay;
    animation-direction: normal;
    animation-duration: $dur13;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
}

.c__traveler--13 {
    animation-name: travel13;
    animation-duration: $dur13;
    animation-delay: $delay;
}

.c__ground--13 {
    animation: screenMove13 $dur13 linear forwards;
    animation-delay: $delay;
}

.c__sea--13{
    bottom: -51+4px;
    width: 1556px;
    left: 247px;
}


.c__move-wrap--13 {
    left: 109px;
    bottom: 47px;
    animation: screenMove13 $dur13 linear forwards;
    animation-delay: $delay;
}

.c__bush__1--13 {
    left: 0;
    bottom: 4px;
}

.c__bridge__1--13 {
    left: 296px;
    bottom: 56+4px;
}

.c__top-ground__1--13 {
    width: 418px;
    left: 481px;
    bottom: 106px;
}

.c__tube__1--13 {
    left: 780px;
    bottom: 149+10px
}

.c__bridge__2--13 {
    left: 957px;
    bottom: 275+4-50px;
}

.c__brick-steel--13 {
    width: 46*3px;
    left: 1138px;
    bottom: 251+4-50px;
}

.c__bonus__telecom {
    left: 1177px;
    bottom: 370-50px;
    animation-delay: $delay+$dur13*42/100;
}

.c__logo__rostel {
    width: 90px;
    height: 39px;
    background-position: -1211px -54px;
    left: 1150px;
    bottom: 370+46-50px;
    animation-delay: $delay+$dur13*42/100;
}

.c__top-ground__2--13 {
    width: 206px;
    left: 481+913px;
    bottom: 106px;
}

.c__top-ground__3--13 {
    width: 206px;
    left: 481+1165px;
    bottom: 254-50px;
}

.c__bonus__pochta {
    bottom: 403-50px;
    left: 481+1244px;
    animation-delay: $delay+$dur13*58/100;
}

.c__logo__pochta {
    width: 90px;
    height: 44px;
    background-position: -1637px -54px;
    left: 481+1220px;
    bottom: 403-50+20px;
    animation-delay: $delay+$dur13*58/100;
}

.c__year__2013 {
    width: 570px;
    background-position: -574px -610px;
    left: 60*4px;
    top: 60*3px;
}

.c__teleport__1--13 {
    bottom: 47px;
    left: -50px;
    animation-delay: $delay+$dur13*1/100;
}

.c__teleport__2--13 {
    bottom: 4px;
    left: 481+1244+150+200+26px;
    animation-delay: $delay+$dur13*72/100;
}
