/*=== 2015 ===*/

$dur15: 15000ms;
$delay: 2000ms;


@keyframes bounce-15{
0%  { transform: translate(0px, 460px); opacity: 0;}
2%  { transform: translate(0px, 460px); opacity: 1;}
4%  { transform: translate(60px,  460-90px); opacity: 1;}
6%  { transform: translate(120px, 460-90+90px); opacity: 1;}
8%  { transform: translate(180px, 460-90+90-90px); opacity: 1;}
10% { transform: translate(240px, 460-90+90-90+90px); opacity: 1;}
12% { transform: translate(300px, 460-90+90-90+90-90px); opacity: 1;}
14% { transform: translate(360px, 460-90+90-90+90-90+90px); opacity: 1;}
16% { transform: translate(420px, 460-90+90-90+90-90+90-90px); opacity: 1;}
18% { transform: translate(510px, 460px); opacity: 1;}
20% { transform: translate(510px, 460-90px); opacity: 1;}//move on
22% { transform: translate(510px, 460-90+90px); opacity: 1;}
24% { transform: translate(510px, 460-90+90-90px); opacity: 1;}
26% { transform: translate(510px, 460-90+90-90+90px); opacity: 1;}
28% { transform: translate(510px, 460-90+90-90+90-90px); opacity: 1;}
30% { transform: translate(510px, 460-90+90-90+90-90+90px); opacity: 1;}
32% { transform: translate(510px, 460-90+90-90+90-90+90-90px); opacity: 1;}
34% { transform: translate(510px, 460-90+90-90+90-90+90-90+90px); opacity: 1;}
36% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}//bday
38% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
40% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
42% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
44% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
46% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
48% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
50% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
52% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
54% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
56% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
58% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
60% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
62% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
64% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
66% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
68% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
70% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
72% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
74% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
76% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
78% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100px); opacity: 1;}
80% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100px); opacity: 1;}
82% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60px);opacity: 1; }
84% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px); opacity: 1;}
86% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px); opacity: 1;}
88% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px); opacity: 1;}
90% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px); opacity: 1; }
92% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px); opacity: 0.8; }
94% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px);  opacity: 0.6;}
96% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px);  opacity: 0.4;}
98% { transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px);  opacity: 0.2;}
100%{ transform: translate(510px, 460-90+90-90+90-90+90-90+90-100+100-60+60px);  opacity: 0;}
}
@keyframes groundMove15{
0%  { background-position: 0px; }
2%  { background-position: 0px; }
4%  { background-position: 0px; }
6%  { background-position: 0px; }
8%  { background-position: 0px; }
10% { background-position: 0px; }
12% { background-position: 0px; }
14% { background-position: 0px; }
16% { background-position: 0px; }
18% { background-position: 0px; }
20% { background-position: 0-60px; }
22% { background-position: 0-60-60px; }
24% { background-position: 0-60-60-60px; }
26% { background-position: 0-60-60-60-60px; }
28% { background-position: 0-60-60-60-60-60px; }
30% { background-position: 0-60-60-60-60-60-60px; }
32% { background-position: 0-60-60-60-60-60-60-60px; }
34% { background-position: 0-60-60-60-60-60-60-60-60px; }
36% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
38% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
40% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
42% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
44% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
46% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
48% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
50% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
52% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
54% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
56% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
58% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
60% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
62% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
64% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
66% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
68% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
70% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
72% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
74% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
76% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
78% { background-position: 0-60-60-60-60-60-60-60-60-60px; }
80% { background-position: 0-60-60-60-60-60-60-60-60-60-60px; }
82% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60px; }
84% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
86% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
88% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
90% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
92% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
94% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
96% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
98% { background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
100%{ background-position: 0-60-60-60-60-60-60-60-60-60-60-60-60px; }
}
@keyframes screenMove15{
0%  { transform: translateX(0px); }
2%  { transform: translateX(0px); }
4%  { transform: translateX(0px); }
6%  { transform: translateX(0px); }
8%  { transform: translateX(0px); }
10% { transform: translateX(0px); }
12% { transform: translateX(0px); }
14% { transform: translateX(0px); }
16% { transform: translateX(0px); }
18% { transform: translateX(0px); }
20% { transform: translateX(0-60px); }
22% { transform: translateX(0-60-60px); }
24% { transform: translateX(0-60-60-60px); }
26% { transform: translateX(0-60-60-60-60px); }
28% { transform: translateX(0-60-60-60-60-60px); }
30% { transform: translateX(0-60-60-60-60-60-60px); }
32% { transform: translateX(0-60-60-60-60-60-60-60px); }
34% { transform: translateX(0-60-60-60-60-60-60-60-60px); }
36% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
38% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
40% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
42% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
44% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
46% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
48% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
50% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
52% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
54% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
56% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
58% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
60% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
62% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
64% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
66% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
68% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
70% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
72% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
74% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
76% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
78% { transform: translateX(0-60-60-60-60-60-60-60-60-60px); }
80% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60px); }
82% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60px); }
84% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
86% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
88% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
90% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
92% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
94% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
96% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
98% { transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
100%{ transform: translateX(0-60-60-60-60-60-60-60-60-60-60-60-60px); }
}

.c__ball--15{
	 animation-name: bounce-15;
	 opacity:0;
	 animation-delay: $delay;
	 animation-direction: normal;
	 animation-duration: $dur13;
	 animation-fill-mode: forwards;
	 animation-timing-function: linear ;
}

.c__ground--15{
	background: url('../img/ground-04.png');
	animation: groundMove15 $dur15 linear forwards;
	animation-delay: $delay;
}
.c__move-wrap--15{
	left:112px;
	bottom: 47px;
	  animation: screenMove15 $dur15 linear forwards;
	 animation-delay: $delay;
}
.c__bush__1--15{
	left: 0;
	bottom: 4px;
}
.c__bush__2--15{
	left: 543px;
	bottom: 4px;
}
.c__bush__3--15{
	left: 543+550px;
	bottom: 4px;
}
.c__bush__4--15{
	left: 543+550+550px;
	bottom: 4px;
}
.c__bonus__bday{
	left: 938px;
	bottom: 154px;
	animation-delay: $delay+$dur15*36/100;
}
.c__teleport__1--15{
	bottom: 47px;
	left: -50px;
	animation-delay: $delay+$dur15*1/100;
}
.c__teleport__2--15{
	bottom: 4px;
	left: 1075px;
	animation-delay: $delay+$dur15*96/100;
}
.c__logo__bday{
	background: url('../img/logo-bday.png');
	width: 74px;
	height: 77px;
	left: 925px;
	bottom: 154+50px;
	animation-delay: $delay+$dur15*36/100;
}
[class*='balloon']{
	background: url('../img/baloon.png');
	width: 88px;
	height: 104px;
	opacity: 0;
	position: absolute;
	animation: bonusAnim 4s ease forwards;
	animation-delay: $delay+$dur15*40/100;
}
.balloon__1--15{
	left: 820px;
	bottom: 40px;

}
.balloon__2--15{
	left: 740px;
	bottom: 90+40px;
}
.balloon__3--15{
	left: 740+90px;
	bottom: 90+40+60px;
}
.balloon__4--15{
	left: 740+90+60+60+60px;
	bottom: 40px;
}
.balloon__5--15{
	left: 740+90+60+60+60+60px;
	bottom: 40+90px;

}
.balloon__6--15{
	left: 740+90+60+60+60+60+90px;
	bottom: 40+90-60px;
}
.balloon__7--15{
left: 740px;
	bottom: 90-60px;
}
.balloon__8--15{
left: 740+90+60+60+60+60+20px;
	bottom: 90-50px;
}
.balloon__9--15{
	left: 740+90+60+60+60+60-60px;
	bottom: 90+50+60px;
}
.balloon__10--15{
	left: 740+30px;
	bottom: 90+40+120px;
}
.balloon__11--15{
left: 740+90+60+60+60+90-10px;
	bottom: 90+50+60+60px;
}
.balloon__12--15{
left: 740+30+60+60px;
	bottom: 90+40+120px;
}
.balloon__13--15{
left: 740+30+60+60+120+60px;
	bottom: 90+40+120-40px;
}
.balloon__14--15{
left: 740+30+60+60+120-120-60px;
	bottom: 90+40px;
}
.balloon__15--15{
left: 740+30+60+60+120+120+60px;
	bottom: 90+40px;
}
.c__bday--big{
	background: url('../img/bday-big.png');//18
	width: 395px;
	height: 301px;
	position: absolute;
	left: 740px;
	bottom: 90px;
	opacity: 0;
	animation-name: zoomIn;
	animation-duration: 4s;
	animation-fill-mode: forwards;
	animation-delay: $delay+$dur15*44/100;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale3d(.3, .3, .3);
  }

  25% {
    opacity: 1;
  }
   50% {
    opacity: 1;
  }
  75%{
  	opacity: 1;
  }
 
  100%{
  	opacity: 0;
  }
}
