.c_stats1 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: $delay+$dur00;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.c_stats2 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: $delay+$dur04;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.c_stats3 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: $delay+$dur08;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.c_stats4 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: $delay+$dur10;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.c_stats5 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: $delay+$dur12;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.c_stats6 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: $delay+$dur13;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

.c_stats7 {
    opacity: 0;
    animation-name: fadeIn;
    animation-delay: $delay+$dur15;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.c_stats1,
.c_stats2,
.c_stats3,
.c_stats4,
.c_stats5,
.c_stats6,
.c_stats7 {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99999;
    background: url('../img/stats-bg.jpg') repeat-x;
    & ul {
        margin: 0;
        padding: 0;
    }
    & li {
        list-style: none;
        margin: 0;
        padding: 0;
    }
}

.c_company__item img {
    height: 55px;
}

[class*='c_stats__wrap'] {
    width: 1084px;
    height: 560px;
    margin: 0 auto;
    opacity: 0;
    animation-name: fadeIn;
    animation-fill-mode: forwards;
    animation-duration: 2s; //2s
}

.c_stats__wrap1 {
    animation-delay: $delay+$dur00+2s;
}

.c_stats__wrap2 {
    animation-delay: $delay+$dur04+2s;
}

.c_stats__wrap3 {
    animation-delay: $delay+$dur08+2s;
}

.c_stats__wrap4 {
    animation-delay: $delay+$dur10+2s;
}

.c_stats__wrap5 {
    animation-delay: $delay+$dur12+2s;
}

.c_stats__wrap6 {
    animation-delay: $delay+$dur13+2s;
}

.c_stats__wrap7 {
    animation-delay: $delay+$dur15+2s;
}

.c_stats__header {
    position: relative;
    margin-top: 53px;
    margin-bottom: 50px;
    @include clearfix();
}

.c_stats__mid {
    @include clearfix();
}

.c_stats__year-result {
    font-weight: 600;
    font-size: 20px;
    color: #24355a;
    float: left;
}

.c_stats__year-result--top {
    display: block;
    margin-bottom: -50px;
}

.c_stats__year-result--mid {
    display: block;
    font-size: 50px;
}

.c_stats__year-result--bottom {
    display: block;
    margin-top: -50px;
}

.c_stats__employees {
    font-size: 20px;
    color: #fff;
    float: left;
    margin-left: 85px;
    @include clearfix();
}

.users-stats {
    width: 88px;
    height: 84px;
    background-position: -332px -178px;
    float: left;
    margin-top: -18px;
    margin-left: -26px;
}

.c_stats__employees--count {
    color: #78bb32;
    float: right;
    font-size: 40px;
    font-weight: 700;
    margin-top: -4px;
    margin-right: 37px;
}

.c_stats__employees--top {
    margin-left: 23px;
}

.sun-stats {
    position: absolute;
    left: -72px;
    top: -51px;
    width: 251px;
    height: 219px;
    background-position: -1722px -610px;
    z-index: -150;
}

.c_stats__clients {
    float: left;
    width: 432px;
    position: relative;
    & .sprite {
        margin-right: 48px;
    }
}

.c_clients__head,
.c_tech__head {
    color: #24355a;
    padding-left: 47px;
    font-size: 20px;
}

.extra-bold {
    font-weight: 800;
    font-size: 20px;
}

.clients-stats {
    position: absolute;
    top: -83px;
    left: -25px;
    width: 152px;
    height: 131px;
    background-position: -956px -178px;
}

.dataart-stat {
    width: 144px;
    height: 35px;
    background-position: -550px -54px;
    margin-top: 36px;
    margin-left: 5px;
}

.Soft-stat {
    width: 51px;
    height: 35px;
    background-position: -696px -54px;
}

.c_stats__tech {
    width: 497px;
    float: left;
    position: relative;
    margin-left: 140px;
    & .sprite {
        margin-right: 48px;
    }
}

.tech-stats {
    width: 191px;
    height: 168px;
    background-position: -1124px -178px;
    position: absolute;
    top: -120px;
    left: -63px;
}

.SQL-stat {
    width: 126px;
    height: 26px;
   background-position: -917px -25px;
   margin-left: -17px;
}

.java-stat {
    width: 31px;
    height: 59px;
    background-position: -436px -102px;
}

.separate-stats {
    margin: 0 auto;
    width: 1084px;
    height: 2px;
    background-position: -2px -2px;
}

.c_stats__btn-next {
    border: none;
    background: #61ab49;
    display: block;
    margin: 30px auto;
    width: 232px;
    text-align: right;
    height: 65px;
    font-size: 15px;
    color: #fff;
    position: relative;
    border-radius: 3px;
    padding-right: 18px;
    padding-left: 18px;
    &:hover {
        cursor: pointer;
    }
}

.c_stats__wrap2>.c_stats__mid {
    margin-bottom: 54px;
}

.imag-stat {
    width: 156px;
    height: 23px;
    background-position: -141px -25px;
}

.syncr-stat {
    width: 139px;
    height: 37px;
    background-position: -975px -54px;
    margin-top: 27px;
    margin-left: 5px;
}

.net-stat {
    width: 90px;
    height: 23px;
    background-position: -49px -25px;
    margin-bottom: 10px;
}

.fei-stat {
    width: 90px;
    height: 40px;
    background-position: -1390px -54px;
    margin-top: 31px;
}

.conti-stats {
    width: 121px;
    height: 21px;
    margin-bottom: 10px;
    background-position: -1728px -2px;
}

.night-stat {
    margin-bottom: 5px;
    width: 67px;
    height: 43px;
    background-position: -1568px -54px;
}

.ccc-stat {
    width: 32px;
    height: 39px;
    background-position: -1177px -54px;
}

.crm-stat {
    width: 113px;
    height: 26px;
    background-position: -1517px -25px;
}

.oracle-stats {
    margin-bottom: 10px;
    width: 100px;
    height: 13px;
    background-position: -1088px -2px;
}

.qt-stat {
    width: 29px;
    height: 34px;
    background-position: -332px -54px;
}

.share-stat {
    margin-top: 10px;
    width: 116px;
    height: 24px;
    background-position: -299px -25px;
}

.separate_vertcial-stats {
    float: left;
    width: 12px;
    height: 153px;
    background-position: -1110px -178px;
}

.prise-stat {
    float: left;
    margin-top: -17px;
    width: 91px;
    height: 88px;
    background-position: -422px -178px;
}

.c_stats__reward {
    float: left;
}

.c_stats__reward--top {
    font-size: 20px;
    color: #fff;
    margin-left: 19px;
}

.c_stats__reward--left {
    font-size: 20px;
    font-weight: 800;
    color: #78bb32;
    width: 258px;
    display: inline-block;
}

.pfrf-stat {
    width: 185px;
    height: 35px;
    background-position: -363px -54px;
    margin-top: 32px;
}

.thomson-stat {
    width: 153px;
    height: 35px;
    background-position: -749px -54px;
    margin-top: 32px;
}

.ayti-stat {
    width: 66px;
    height: 19px;
    background-position: -1528px -2px;
    margin-bottom: 6px;
}

.php-stat {
    width: 69px;
    height: 36px;
    background-position: -904px -54px;
}

.ios-stat {
    width: 45px;
    height: 23px;
    background-position: -2px -25px;
    margin-bottom: 10px;
}

.android-stat {
    width: 50px;
    height: 46px;
    background-position: -44px -102px;
}

.nvidia-stat {
    width: 70px;
    height: 26px;
    background-position: -1345px -25px;
    margin-bottom: 10px;
}

.ruby-stat {
    width: 40px;
    height: 46px;
    background-position: -2px -102px;
        margin-left: -14px;
    margin-top: 24px;
}

.html5-stats {
    width: 35px;
    height: 49px;
    background-position: -96px -102px;
}

.mpartgold-stat {
    width: 85px;
    height: 39px;
    background-position: -1303px -54px;
    margin-top: -76px;
    margin-left: 85px;
    float: left;
}

.mpart-stat {
    width: 106px;
    height: 51px;
    background-position: -208px -102px;
    float: left;
    margin-top: -104px;
    margin-left: 204px;
}

.c_proj {
    margin-top: 9px;
    margin-left: 32px;
}
.Krok-stat {
    width: 89px;
    height: 27px;
    background-position: -1739px -25px;
}

.Korus-stat {
    width: 144px;
    height: 29px;
    background-position: -2px -54px;
    margin-top: 14px;
}

.Biociences-stat {
    width: 98px;
    height: 26px;
    background-position: -1417px -25px;
    margin-left: -38px;
}

.Azure-stat {
    width: 130px;
    height: 20px;
   background-position: -1596px -2px;
}

.objC-stats {
    width: 92px;
    height: 19px;
    background-position: -1434px -2px;
}

.c_stats5 {
    & .net-stat {
        margin-bottom: 0;
        margin-left: -40px;
    margin-top: 29px;
    }
    & .SQL-stat {
        margin-top: 10px;
        margin-bottom: 0;
            margin-left: -8px;
    }
    & .c_stats__reward--left {
        margin-top: 11px;
        float: left;
        width: 100px;
    }
    & .c_clients__head{
        margin-bottom: 21px;
    }
    & .c_stats__employees--count{
        margin-right: 1px;
    }
    & .separate_vertcial-stats{
        margin-top: -41px;
    margin-left: 18px;
    }
    & .c_stats__reward{
        @include clearfix();
    }
    & .c_stats__reward {
    width: 194px;
    }
    & .c_stats__reward--top{
        margin-left: 30px;
    }
    & .c_stats__header{
            margin-bottom: 73px;
    }
    & .c_stats__clients {
        width: 446px;
    }
    & .crm-stat{
            margin-top: 37px;
    margin-left: -42px;
    }
    & .Azure-stat{
        margin-left: -10px;
    }
    & .objC-stats{
        margin-left: 13px;
    }
    & .php-stat{
        margin-top: 16px;
    margin-left: 23px;
    }
    & .c_stats__mid {
    margin-bottom: 28px;
}


}

.London-stat {
    width: 68px;
    height: 95px;
    background-position: -610px -178px;
    float: left;
        margin-left: 9px;
    margin-top: -23px;
}

.bubbles-stat {
    width: 93px;
    height: 93px;
    background-position: -515px -178px;
    margin-top: -30px;
}

.pochta-stat {
    width: 84px;
    height: 41px;
    background-position: -1482px -54px;
        margin-left: 22px;
}

.rostel-stat {
    width: 100px;
    height: 44px;
    background-position: -1729px -54px;
    margin-top: 28px;
    margin-left: 7px;
}

.c_stats6 {
    & .c_stats__header {
        margin-bottom: 93px;
    }
    & .net-stat {
        margin-bottom: 0;
    }
    & .SQL-stat {
        margin-top: 10px;
    margin-bottom: 0;
    margin-right: 22px;
    }
    & .c_stats__reward--left {
        margin-top: 30px;
    }
    & .ios-stat {
        margin-bottom: 6px;
    margin-right: 45px;
    }
    & .ruby-stat{
        margin-top: 15px;
    margin-left: 0px;
    }
    & .crm-stat{
        margin-top: 38px;
        margin-left: -26px;
    }
    & .php-stat{
        margin-left: -26px;
    margin-top: 21px;
    margin-right: 40px;
    }
    & .ccc-stat{
        margin-right: 10px;
    }
    & .c_stats__mid {
    margin-bottom: 18px;
    }
}

.c_stats3 {
    & .c_stats__reward--left {
        margin-top: 0px;
        margin-left: -23px;
    }
    & .c_stats__employees--count{
        margin-left: -13px;
    }
    & .separate_vertcial-stats{
        margin-top: -41px;
    margin-left: 18px;
    }
    & .c_stats__header{
        margin-top: 53px;
        margin-bottom: 90px;
    }
    & .ccc-stat{
        margin-top: 29px;
    margin-left: -28px;
    }
    & .crm-stat{
        margin-bottom: 7px;
    }
    & .c_stats__tech{
        width: 384px;
    }
    & .share-stat{
        margin-top: 19px;
        margin-left: -20px;
    }
    & .qt-stat{
        margin-left: -26px;
    }
    & .share-stat{
        margin-top: 19px;
        margin-left: 5px;
    }
    & .c_stats__mid {
    margin-bottom: 19px;
    }
}

.c_stats1{
    & .c_stats__header{
            margin-bottom: 127px;
    }
    & .c_clients__container{
        margin-bottom: 46px;
    }
}
.c_stats2{
    & .c_stats__header{
            margin-bottom: 124px;
    }
    & .net-stat{
            margin-left: -26px;
    margin-bottom: 0px;
    }
    & .c_stats__employees--count{
        margin-right: 49px;
        margin-left: -27px;
    }
    & .java-stat {
        margin-left: 43px;
        margin-top: 5px;
}
}
.c_stats4{
    & .android-stat{
            margin-left: -40px;
    }
    & .php-stat{
        margin-top: 33px;
    margin-left: -27px;
    }
    & .ios-stat{
            margin-bottom: 7px;
    }
    & .nvidia-stat{
        margin-bottom: 7px;
    }
    & .separate_vertcial-stats{
        margin-left: 6px;
    margin-top: -41px;
    }
    & .c_stats__reward{
        width: 307px;
    }
    & .c_stats__header{
         margin-bottom: 76px;
    }
    & .c_stats__tech{
        width: 404px;
    }
    & .c_stats__mid{
        margin-bottom: 4px;
    }
}
.c_tech__head{
        padding-left: 10px;
}
.circle{
      width: 32px;
    height: 32px;
    border: 1px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: 17px;
    left: 13px;
  &:before{
    content: "";
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    border: 3px solid transparent;
    border-top-color: #fff;
    border-radius: 50%;
    animation: spin 10s linear infinite;
  }
}
@keyframes spin {
    0%   {
        transform: rotate(0deg); 
    }
    100% {
        transform: rotate(360deg); 
    }
}
