@import "_mixins.scss";


$browser-context: 16;



* {
    padding: 0;
    margin: 0;
    outline: none;
}

html.js .loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}

.loader_inner {
    background: url('../img/preloader.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}
/*Header styles*/

.header {
    height: 100px;
    position: relative;
    z-index: 15;
    background: #fff;
    border-bottom: 1px solid #222;
}

.wrapper {
    width: 1084px;
    margin: 0 auto;
    position: relative;
}

.logo {
    background: url('../img/logo-wa.png') top left no-repeat;
    width: 185px;
    height: 46px;
    margin-top: 29px;
    float: left;
}

/*=== Movie styles ====*/


.screen {
  height: 560px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  background: url('../img/1x/background.jpg') repeat-x;
  z-index: -1;
  animation: screen 30s linear 4s 1;
}
.center{
  background: #222;
  width: 1px;
  height: 560px;
  position: absolute;
  left: 741px;
}

.game-wrap{
  width: 1084px;
  height:560px;
  margin: 0 auto;
  position: relative;
  border-left: 1px solid #222;
  border-right: 1px solid #222;
}
.sun{
  background: url('../img/1x/sun.png');
  width:589px ;
  height: 589px;
  position: absolute;
  top: -294px;
  z-index: -1;
}

.ball{
  background: url('../img/1x/ball.png') no-repeat;
  height:46px;
  width: 46px;
  position: absolute;
  top: -73px;//top: -73px;
  left: 0px;//left:0;
  z-index:20;
   // transform: translate(720+180+138px, 534px);
 animation: bounce 10s 2s linear 1;
}

 @keyframes bounce{
   0%{ transform: translate(0px, 0px); }
  10%{ transform: translate(0px, 533px); }//упал
  15%{ transform: translate(160px, 306px); }// вверх
  25%{ transform: translate(345px, 458px); } //на трубу
  30%{ transform: translate(560px, 306px); } // с труба над водой
  35%{ transform: translate(720px, 534px);}
  40%{ transform: translate(720+180px, 412px); }// бъем бонус
  45%{  }//вниз
 100%{  }
 }

.ground{
  width: 100%;
  height: 71px;
  position: absolute;
  background: url('../img/1x/ground.jpg');
  bottom: 0;
  z-index: 2;
  background-position: -900-310px;
}

.bush{
  background: url('../img/1x/bush.png');
  height: 68px;
  width: 205px;
  position: absolute;
  bottom:53px;
  left: -205px;
  z-index: 10;
}
.tube{
  background: url('../img/1x/tube_top.png');
  width: 100px;
  height: 76px;
  position: absolute;
  bottom: 53px;
  left: 323px;
  z-index: 10;
}
.bubble_java{
  background: url('../img/1x/bubble_java.png');
  width: 74px;
  height: 74px;
  position: absolute;
  bottom: 53px;
  left: 336px;
  animation: javaBubble 3s ease infinite;
}
@keyframes javaBubble{
  0%,1%{ transform: translateY(0px); }
  5%  { transform: translateY(0px); }
  10% { transform: translateY(0px); }
  20% { transform: translateY(0px); }
  30% { transform: translateY(0px); }
  40% { transform: translateY(0px); }
  50% { transform: translateY(-76px); }
  60% { transform: translateY(-76px); }
  70% { transform: translateY(-76px); }
  80% { transform: translateY(-76px); }
  90% { transform: translateY(0px); }
 100% { transform: translateY(0px); }

}
.bonus{
  background: url('../img/1x/bonus.jpg');
  width: 46px;
  height: 46px;
  position: absolute;
  left: 907px;
  bottom: 103+71+46px;
  animation: bonus 3s ease 1;
  animation: bonusLeft 3s linear 1;
}
@keyframes bonus{
  0%,1%{ background: url('../img/1x/bonus.jpg'); }
  5%{ transform: translateY(-10px); }
  10%{ transform: translateY(0px); }
  20% { background: url('../img/1x/bonus_empty.jpg'); }
  30% {background: url('../img/1x/bonus_empty.jpg');}
  40% {background: url('../img/1x/bonus_empty.jpg');}
  50% {background: url('../img/1x/bonus_empty.jpg');}
  60% {background: url('../img/1x/bonus_empty.jpg');}
  70% {background: url('../img/1x/bonus_empty.jpg');}
  80% {background: url('../img/1x/bonus_empty.jpg');}
  90% {background: url('../img/1x/bonus_empty.jpg');}
 100% {background: url('../img/1x/bonus_empty.jpg');}
}
@keyframes bonusLeft{
  0%,1%{ transform: translateX(0); }
  5% { transform: translateX(); }
}
.brick{
  background: url('../img/1x/pat_brick.jpg') repeat-x;
  height: 46px;
  width:372px;
  position: absolute;
  left: 907+46px;
  bottom: 103+71+46px;
}
.bush_2{
  background: url('../img/1x/bush.png');
  height: 68px;
  width: 205px;
  position: absolute;
  bottom:54px;
  left: 1111px;
  z-index: 10;
}


// // translate(x,y)
// @keyframes bounce {
//   0% { transform: translate(0px,0px); }
//   1% { transform: translate(0px,560-53-45+73px); }//fall  
//   2% { transform: translate(169px,560-200-53-45+73px); }//up
//   3% { transform: translate(169+169px,560-53-45+73-76px); }//on tube
//   4% { transform: translate(169+169px,560-53-45+73-76px); }//on tube
//   5% { transform: translate(169+169px,560-53-45+73-76px); }//on tube
//   6% { transform: translate(169+169px,560-53-45+73-76px); }//on tube
//   7% { transform: translate(169+169px,560-53-45+73-76px); }//on tube
//   8% { transform: translate(169+169+100px,560-200-53-45+73px); }//from tube up
//   9% { transform: translate(169+169+100+150px,560-53-45+73px); }//from tube down
//   10% { transform: translate(169+169+100+150+70px,560-200-53-45+73px); }//croos river up
//   11% { transform: translate(169+169+100+150+250px,560-53-45+73px); }//cross river down
//   12% { transform: translate(818px, 480px); }
//   13% {transform: translate(898px, 535px); }
//   14% {transform: translate(898+80px, 480px); }
//   15% {transform: translate(898+80px, 480px); }
//   16% {transform: translate(898+80px, 480px); }
//   17% {transform: translate(898+80px, 480px); }
//   18% {transform: translate(898+80px, 480px); }
//   19% {transform: translate(898+80px, 480px); }
//   20% {transform: translate(898+80px, 480px); }
//   21% {transform: translate(898+80px, 480px); }
//   22% {transform: translate(898+80px, 480px); }
//   23% {transform: translate(898+80px, 480px); }
//   24% {transform: translate(898+80px, 480px); }
//   25% {transform: translate(898+80px, 480px); }
//   26% {transform: translate(898+80px, 480px); }
//   27% {transform: translate(898+80px, 480px); }
//   28% {transform: translate(898+80px, 480px); }
//   29% {transform: translate(898+80px, 480px); }
//   30% {transform: translate(898+80px, 480px); }
//   31% {transform: translate(898+80px, 480px); }
//   32% {transform: translate(898+80px, 480px); }
//   33% {  }
//   34% {  }
//   35% {  }
//   36% {  }
//   37% {  }
//   38% {  }
//   39% {  }
//   40% {  }
//   41% {  }
//   42% {  }
//   43% {  }
//   44% {  }
//   45% {  }
//   46% {  }
//   47% {  }
//   48% {  }
//   49% {  }
//   50% {  }
//   51% {  }
//   52% {  }
//   53% {  }
//   54% {  }
//   55% {  }
//   56% {  }
//   57% {  }
//   58% {  }
//   59% {  }
//   60% {  }
//   61% {  }
//   62% {  }
//   63% {  }
//   64% {  }
//   65% {  }
//   66% {  }
//   67% {  }
//   68% {  }
//   69% {  }
//   70% {  }
//   71% {  }
//   72% {  }
//   73% {  }
//   74% {  }
//   75% {  }
//   76% {  }
//   77% {  }
//   78% {  }
//   79% {  }
//   80% {  }
//   81% {  }
//   82% {  }
//   83% {  }
//   84% {  }
//   85% {  }
//   86% {  }
//   87% {  }
//   88% {  }
//   89% {  }
//   90% {  }
//   91% {  }
//   92% {  }
//   93% {  }
//   94% {  }
//   95% {  }
//   96% {  }
//   97% {  }
//   98% {  }
//   99% {  }
//   100 {  }
// }

